section.sectionFour
    .situations.width.situations-height.block__flex
        .box__left
            p.min-text__text.min-text__color.situations__text Повод обратиться
            h2.titles.titles-indent.titles__width В каких случаях нужна консультация психолога?
            p.txt.txt-indent.situations-width Консультация психолога - это инструмент, который помогает людям понять и разрешить эмоциональные сложности, улучшить качество жизни, принимать более правильные решения. 
            p.txt.txt-indent.txt-indents.situations-width Современная психотерапия - это личный процесс, в котором человек учится осознавать свои эмоциональные состояния, управлять эмоциями, находить источник спокойствия, силы и радости внутри себя.
            a.btn.btn_left(href="#openModalThree") 
                span Запись на консультацию
            #openModalThree.modal
                .modal-dialog
                    .content-modal
                        .modal-header
                            a(href="#close" title="Close").close x
                        form.form.form__modal.form__header-modal
                            h2.mainText.mainText-modal Запись на приём
                            p.secondText.form__header-text Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время для уточнения деталей
                            .formInput__recording.formInput.formInput-flex
                                span
                                input.form__input-style.form__input-block(type="text" name='name' placeholder="Ваше имя" required="required")
                                input.form__input-style.form__input-block(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
                                a.btn__width.form__btn-bottom.bt(href="#recordingTwo") 
                                    span Записаться на приём
                            .form__policy.form__header-policy
                                input.form__checkbox#form__checkboxThree(type="checkbox" checked="")
                                label.form__pol(for="form__checkboxThree") 
                                    span.modal__policy-link Вы соглашаетесь с 
                                        a.form__policy-link(href="#!") условиями обработки персональных данных
        .box__right.accordion
                include ../../blocks/accordion/accordion.pug
                .accordion-item
                    input#s2.hide(type="checkbox")
                    label.accordion-label(for='s2') Кризис в отношениях
                    p.accordion-child.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                .accordion-item
                    input#s3.hide(type="checkbox")
                    label.accordion-label(for='s3') Ощущение неудовлетворённости, пустоты, тупика
                    p.accordion-child.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                .accordion-item
                    input#s4.hide(type="checkbox")
                    label.accordion-label(for='s4') Развод, расставание с партнером
                    p.accordion-child.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                .accordion-item
                    input#s5.hide(type="checkbox")
                    label.accordion-label(for='s5') Тревогу, постоянное беспокойство, панические состояния, страхи
                    p.accordion-child.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                .accordion-item
                    input#s6.hide(type="checkbox")
                    label.accordion-label(for='s6') Трудности в воспитании детей и подростков
                    p.accordion-child.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                .accordion-item
                    input#s7.hide(type="checkbox")
                    label.accordion-label(for='s7') Депрессию
                    p.accordion-child.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                .accordion-item
                    input#s8.hide(type="checkbox")
                    label.accordion-label(for='s8') Сложности в общении, одиночество
                    p.accordion-child.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
