section.sectionFour
    .container
        .situations
            .box__left
                .text-bgc
                    p Повод обратиться
                h2 В каких случаях нужна консультация психолога?
                p Консультация психолога - это инструмент, который помогает людям понять и разрешить эмоциональные сложности, улучшить качество жизни, принимать более правильные решения. 
                p Современная психотерапия - это личный процесс, в котором человек учится осознавать свои эмоциональные состояния, управлять эмоциями, находить источник спокойствия, силы и радости внутри себя.
                button.btn.show-modal-2(data-toggle="modal-2") 
                    span Запись на консультацию
   
            // accordion
            .box__right.accordion
                    include ../../blocks/accordion/accordion.pug
                    .accordion-item
                        input#s2(type="checkbox")
                        label(for='s2') Кризис в отношениях
                        .accordion-child
                            p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                    .accordion-item
                        input#s3(type="checkbox")
                        label(for='s3') Ощущение неудовлетворённости, пустоты, тупика
                        .accordion-child
                            p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                    .accordion-item
                        input#s4(type="checkbox")
                        label(for='s4') Развод, расставание с партнером
                        .accordion-child
                            p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                    .accordion-item
                        input#s5(type="checkbox")
                        label(for='s5') Тревогу, постоянное беспокойство, панические состояния, страхи
                        .accordion-child
                            p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                    .accordion-item
                        input#s6(type="checkbox")
                        label(for='s6') Трудности в воспитании детей и подростков
                        .accordion-child
                            p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                    .accordion-item
                        input#s7(type="checkbox")
                        label(for='s7') Депрессию
                        .accordion-child
                            p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
                    .accordion-item
                        input#s8(type="checkbox")
                        label(for='s8') Сложности в общении, одиночество
                        .accordion-child
                            p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
