.txt {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #565b62;
}
.txt-bold {
    font-weight: 700;
}
.txt-indent {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1360px) {
    .txt {
        font-size: 1.8rem;
        line-height: 2.9rem;
    }
}
