p.txt.txt-indent Я психолог, нарративный консультант, специалист 
    |по эмоциональному благополучию.
p.txt.txt-indent Помогаю людям освободиться от негативных эмоциональных состояний, пережить трудные 
    |моменты в жизни, понять себя и других, найти 
    |выход из сложных ситуаций, развить устойчивость
    |и эмоциональное благополучие.
p.txt.txt-indent Использую современные, эффективные методы психотерапии - нарративный подход, практики осознанности.

