.email.contact__email
                .email__img
                    a(href="mailto:email@mail.ru")
                        img.icons-email(src="wp-content/themes/twentytwenty-child/img/icons/email.svg" alt="email")
                .email__text
                    a.em(href="mailto:email@mail.ru") email@mail.ru