.email {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 18rem;
    align-self: baseline;
    &__img,
    &__text {
        display: block;
        align-self: center;
    }
    &:hover .em {
        color: #4dc8c0;
    }
}

.icons-email {
    width: 3.8rem;
    height: 3.8rem;
    fill: none; /* заливка */
    stroke: #e89160; /* цвет обводки */
    stroke-width: 0.1rem; /* толщина обводки */
    position: relative;
    z-index: 0;
    border-radius: 50%;
}
.em {
    font-weight: bold;
    font-size: 1.8rem;
    color: #646c79;
    transition-property: "linear-gradient";
    transition-duration: 0.4s;
}
