.email.contact__email
                .email__img
                    a(href="mailto:email@mail.ru")
                        svg(class="icons-email")
                            use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#email")
                .email__text
                    a.em(href="mailto:email@mail.ru") email@mail.ru