.modal__backdrop {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.modal__body {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 90vw;
    transition: opacity 0.3s ease-in;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(40%);
    padding: 3rem 1.5rem;
    overflow: auto;
    .modal__btn-close {
        position: absolute;
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
        text-decoration: none;
        right: 1rem;
        top: 0rem;
    }
    h5,
    p {
        text-align: center;
        margin-bottom: 2rem;
    }
    h5 {
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 120%;
        @media (min-width: 540px) {
            font-size: 4.8rem;
        }
        @media (min-width: 768px) {
            font-size: 6.4rem;
        }
    }
    input,
    button {
        margin: 0 auto;
        width: 100%;
        max-width: 100vw;
        display: block;
        margin-bottom: 2rem;
        text-align: center;
        outline: none;
        font-size: 1.4rem;
        padding: 2rem 1rem;
        @media (min-width: 540px) {
            max-width: 25.4rem;
        }
    }
    input {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) -9.84%, rgba(240, 240, 240, 0.3) 100%);
        border: 0.1rem solid rgba(242, 242, 242, 0.6);
        box-sizing: border-box;
        border-radius: 10rem;
        font-family: "Raleway";
        line-height: 1.96rem;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #646c79;
    }

    .modal__btn-close {
        color: #000;
        &:focus,
        &:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            opacity: 0.75;
        }
    }
    .input-flex {
        width: 100%;
        @media (min-width: 1020px) {
            display: flex;
            justify-content: space-between;
        }
    }
    @media (min-width: 400px) {
        width: 80%;
        max-width: 80vw;
    }
    @media (min-width: 540px) {
        width: 70%;
        max-width: 70vw;
    }
    @media (min-width: 768px) {
        width: 90%;
        max-width: 90rem;
        padding: 7rem 16rem 9rem 16rem;
    }
}
.form__policy {
    width: 100%;
    max-width: 52rem;
    text-align: left;
    text-rendering: optimizelegibility;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 250;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #727272;
    cursor: pointer;
    @media (min-width: 760px) {
        margin: 0 auto;
    }
    a {
        text-decoration: none;
        text-rendering: optimizelegibility;
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
        box-sizing: border-box;
        background-color: transparent;
        color: #727272;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}
.modal__show {
    .modal__backdrop,
    .modal__body {
        opacity: 1;
        visibility: visible;
        z-index: 1050;
        pointer-events: auto;
        overflow-y: auto;
        -webkit-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
    }
}
label[for="modal__chec1"],
label[for="modal__chec2"],
label[for="modal__chec3"],
label[for="modal__chec4"],
label[for="form1"],
label[for="form2"] {
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 50.3rem;
    padding-left: 2.5rem;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        border: solid 0.1rem #4dc8c0;
        border-radius: 0.2rem;
        width: 1.45rem;
        height: 1.45rem;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    &::after {
        content: "";
        position: absolute;
        border-right: solid 0.2rem transparent;
        border-bottom: solid 0.2rem transparent;
        width: 0.5rem;
        height: 1rem;
        top: 0.1rem;
        left: 0.45rem;
        transform: rotate(42deg);
        transition: 0.5s;
    }
}
#modal__chec1:checked + label::after,
#modal__chec2:checked + label::after,
#modal__chec3:checked + label::after,
#modal__chec4:checked + label::after,
#form1:checked + label::after,
#form2:checked + label::after {
    border-right: solid 0.2rem #fff;
    border-bottom: solid 0.2rem #fff;
    transform: rotate(42deg);
    transition: 0.5s;
}
#modal__chec1:checked + label::before,
#modal__chec2:checked + label::before,
#modal__chec3:checked + label::before,
#modal__chec4:checked + label::before,
#form1:checked + label::before,
#form2:checked + label::before {
    background: #4dc8c0;
    transition: 0.5s;
}
#modal__chec1:not(:checked),
#modal__chec1:checked,
#modal__chec2:not(:checked),
#modal__chec2:checked,
#modal__chec3:not(:checked),
#modal__chec3:checked,
#modal__chec4:not(:checked),
#modal__chec4:checked,
#form1:not(:checked),
#form1:checked,
#form2:not(:checked),
#form2:checked {
    display: none;
}
