/* свойства модального окна по умолчанию */
.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
    font-family: "Raleway";
    font-style: normal;
}
// .content-modal {
//     box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);

// }
/* при отображении модального окно */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: 29rem;
    margin: 1rem auto;
    left: 0;
    right: 0;
    transform: translateY(13%);
}
/* свойства для блока, содержащего контент модального окна */
.content-modal {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 540px) {
    .modal-dialog {
        width: 49rem;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        width: 50rem;
    }
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 60rem;
        transform: translateY(25%);
    }
}
@media screen and (min-width: 1024px) {
    .modal-dialog {
        width: 90rem;
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    width: 98%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: "Raleway";
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
