section.sectionFive(style='background-image: url("/wp-content/themes/twentytwenty-child/img/advantage.png");')
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text-width Виды консультаций
        h2.titles.titles-indent.text-center Кому могут быть полезны консультации психолога?
        .adventige.sectionFive__block.adventige__flex
            .picture.picture__indent.adventige__width.box__left
                img.picture-female(src="/wp-content/themes/twentytwenty-child/img/adventigeTwo.png", alt="")
            .adventige__text
                h3.titl.titles-indent Индивидуальные консультации психолога
                p.txt.txt-indent Если вы хотите понять себя, разобраться в отношениях с другими. Изменить то, что мешает жить лучше. Найти выход из сложных ситуаций. Освободиться от негативных эмоций. Управлять своей жизнью.
                a(href='#').btn Подробнее
        .adventige.sectionFive__block.adventige__flex
            .picture.picture__indent.adventige__width.box__left
                img.picture-female(src="/wp-content/themes/twentytwenty-child/img/adventigeTree.png", alt="")
            .adventige__text
                h3.titl.titles-indent Индивидуальные консультации психолога
                p.txt.txt-indent Если вы хотите понять себя, разобраться в отношениях с другими. Изменить то, что мешает жить лучше. Найти выход из сложных ситуаций. Освободиться от негативных эмоций. Управлять своей жизнью.
                a(href='#').btn Подробнее
        .adventige.sectionFive__block.adventige__flex
            .picture.picture__indent.adventige__width.box__left
                img.picture-female(src="/wp-content/themes/twentytwenty-child/img/adventigeTree.png", alt="")
            .adventige__text
                h3.titl.titles-indent Консультации психолога для детей, подростков и родителей
                p.txt.txt-indent Если вы хотите лучше понимать ребенка/подростка, убрать конфликты и непонимание в отношениях. Помочь ребенку/подростку справляться со сложными переживаниями, проблемами в школе, в отношениях со сверстниками.
                a(href='#').btn Подробнее
        .adventige.sectionFive__block.adventige__flex
            .picture.picture__indent.adventige__width.box__left
                img.picture-female(src="/wp-content/themes/twentytwenty-child/img/adventigeFour.png", alt="")
            .adventige__text
                h3.titl.titles-indent Консультация психолога онлайн
                p.txt.txt-indent Если вам нужна квалифицированная помощь психолога онлайн
                a(href='#').btn Подробнее
