// section виды консультаций
.sectionFive {
    width: 100%;
    height: auto;
    background: url("../img/advantage-s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding-bottom: 4.5rem;
    @media (min-width: 768px) {
        background: url("../img/advantage-m.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 7rem;
    }
    @media (min-width: 1024px) {
        background: url("../img/advantage-l.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 13.5rem;
    }
    h2 {
        margin-bottom: 3rem;
        @media (min-width: 760px) {
            margin-bottom: 5rem;
        }
    }
    .advantage {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: left;
    }
    .adventige {
        width: 100%;
        margin-bottom: 2.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 760px) {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
    .picture {
        width: 100%;
        margin-bottom: 2.5rem;
        align-self: baseline;
        img {
            width: 100%;
        }
        @media (min-width: 760px) {
            width: 50%;
            max-width: 46.7rem;
            margin-right: 2rem;
            margin-bottom: 0;
        }
        @media (min-width: 1200px) {
            width: 50%;
            max-width: 46.7rem;
            margin-right: 5.3rem;
        }
    }
    .adventige__text {
        width: 100%;
        @media (min-width: 760px) {
            width: 50%;
            max-width: 32.4rem;
        }
        @media (min-width: 1200px) {
            width: 50%;
            max-width: 90.5rem;
        }
        h3,
        p {
            margin-bottom: 2rem;
        }
        p {
            @media (min-width: 1200px) {
                margin-bottom: 4rem;
            }
        }
    }
}
.sect {
    a {
        text-align: center;
        background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 0.97%);
        border-radius: 6.25em;
        border: none;
        outline: none;
        overflow: hidden;
        position: relative;
        padding: 1.4rem 2.8rem;
        align-self: baseline;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 140%;
        @media (min-width: 1200px) {
            font-size: 1.8rem;
            padding: 1.8rem 3.6rem;
        }
        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 100%;
            bottom: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: all 0.6s ease;
            border-radius: 6.25em;
        }
        &:focus:before,
        &:hover:before {
            width: 100%;
            left: 0;
            opacity: 1;
            background: #e89160;
            transition: all 0.6s ease;
        }
        span {
            position: relative;
            color: #ffffff;
            width: 100%;
        }
    }
}
//
