section.sectionFive(style='background-image: url("wp-content/themes/twentytwenty-child/img/advantage.png");')
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text Виды консультаций
        h2.titles.advantage__titl.text-center Кому могут быть полезны консультации психолога?
        .adventige.sectionFive__block.adventige__flex
            .picture.adventige__width.box__left
                picture
                    source(type='image/webp', srcset='wp-content/themes/twentytwenty-child/img/adventigeTwo@1x.webp 1x, wp-content/themes/twentytwenty-child/img/adventigeTwo@2x.webp 2x')
                    img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeTwo@1x.png', srcset='wp-content/themes/twentytwenty-child/img/adventigeTwo@2x.png 2x', alt='', width='547', height='695')
            .adventige__text
                h3.titl.advantage__titles Индивидуальные консультации психолога
                p.txt.advantage__txt Если вы хотите понять себя, разобраться в отношениях с другими. Изменить то, что мешает жить лучше. Найти выход из сложных ситуаций. Освободиться от негативных эмоций. Управлять своей жизнью.
                a(href='indiv-consul.html').btn.advantage__btn 
                    span Подробнее
        .adventige.sectionFive__block.adventige__flex
            .picture.adventige__width.box__left
                picture
                    source(type='image/webp', srcset='wp-content/themes/twentytwenty-child/img/adventigeTree@1x.webp 1x, wp-content/themes/twentytwenty-child/img/adventigeTree@2x.webp 2x')
                    img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeTree@1x.png', srcset='wp-content/themes/twentytwenty-child/img/adventigeTree@2x.png 2x', alt='', width='547', height='695')
            .adventige__text
                h3.titl.advantage__titles Консультации психолога для семей и пар
                p.txt.advantage__txt Если вы хотите улучшить отношения, сохранить семью, вернуть теплые чувства, уважение и понимание, научиться договариваться, разрешать конфликты мирно.
                a(href='family-psych.html').btn.advantage__btn 
                    span Подробнее
        .adventige.sectionFive__block.adventige__flex
            .picture.adventige__width.box__left
                picture
                    source(type='image/webp', srcset='wp-content/themes/twentytwenty-child/img/adventigeTree@1x.webp 1x, wp-content/themes/twentytwenty-child/img/adventigeTree@2x.webp 2x')
                    img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeTree@1x.png', srcset='wp-content/themes/twentytwenty-child/img/adventigeTree@2x.png 2x', alt='', width='547', height='695')
            .adventige__text
                h3.titl.advantage__titles Консультации психолога для детей, подростков и родителей
                p.txt.advantage__txt Если вы хотите лучше понимать ребенка/подростка, убрать конфликты и непонимание в отношениях. Помочь ребенку/подростку справляться со сложными переживаниями, проблемами в школе, в отношениях со сверстниками.
                a(href='child-psych.html').btn.advantage__btn 
                    span Подробнее
        .adventige.sectionFive__block.adventige__flex
            .picture.adventige__width.box__left
                picture
                    source(type='image/webp', srcset='wp-content/themes/twentytwenty-child/img/adventigeFour@1x.webp 1x, wp-content/themes/twentytwenty-child/img/adventigeFour@2x.webp 2x')
                    img.picture-female.img__block(src='wp-content/themes/twentytwenty-child/img/adventigeFour@1x.png', srcset='wp-content/themes/twentytwenty-child/img/adventigeFour@2x.png 2x', alt='', width='547', height='695')
            .adventige__text
                h3.titl.advantage__titles Консультация психолога онлайн
                p.txt.advantage__txt Если вам нужна квалифицированная помощь психолога онлайн
                a(href='online-consul.html').btn.advantage__btn 
                    span Подробнее
