// SLIDER EDUCATION
.education-slider.swiper-container
    .swiper-wrapper.swiper__content
        .swiper-slide
                .slider__contant.swiper-slide-width
                    h3 1995-2000
                    p Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide
                .slider__contant.swiper-slide-width
                    h3 1995-2000
                    p Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
                                    
        .swiper-slide.swiper-slide-width
                .slider__contant
                    h3 1995-2000
                    p Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
                .slider__contant
                    h3 1995-2000
                    p Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
            .slider__contant
                h3 1995-2000
                p Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
            .slider__contant
                h3 1995-2000
                p Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.   
.arow
    .swiper-buton.swiper-buton-right
    .swiper-buton.swiper-buton-left
// END SLIDER EDUCATION