// SLIDER EDUCATION
.education-slider.swiper-container.education-slider-indent
    .swiper-wrapper.swiper__content
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
                                    
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
            .slider__contant
                p.slider__text.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
            .slider__contant
                p.slider__text.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.   
.arow
    a.swiper-buton.swiper-buton-right
        img.arrows(src="wp-content/themes/twentytwenty-child/img/icons/arrow-right.svg" alt="arrow-right") 
    a.swiper-buton.swiper-buton-left
        img.arrows(src="wp-content/themes/twentytwenty-child/img/icons/arrow-left.svg" alt="arrow-left") 
// END SLIDER EDUCATION