.swiper-slide-width {
    background: #ffffff;
    border: 0.1rem solid #fbfbfb;
    box-sizing: border-box;
    // box-shadow: 0px 10rem 8rem rgba(157, 157, 157, 0.07), 0rem 3rem 2.4rem rgba(157, 157, 157, 0.0456112),
    //     0rem 1.25rem 1rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
    // border-radius: 1rem;
    text-align: left;
    padding: 2.5rem 6rem 3.7rem 1.9rem;
}
.swiper-wrapper {
    box-shadow: 0px 10rem 8rem rgba(157, 157, 157, 0.07), 0rem 3rem 2.4rem rgba(157, 157, 157, 0.0456112),
        0rem 1.25rem 1rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
    border-radius: 1rem;
}
.education-slider-indent {
    margin-top: 2.6rem;
    margin-bottom: 4rem;
}
/*стрелки*/
.arow {
    margin: 0 auto;
    width: 10em;
    height: 3.12em;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: linear-gradient(269.95deg, #4dc8c0 0.05%, #56d0c9 99.97%);
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
}
.swiper-buton {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    outline: none;
    display: flex;
    justify-content: center;
    align-content: center;
}
.arrows {
    width: 1.5em;
    height: 1.5em;
    // width: 100%;
    // height: 100%;
    fill: none; /* заливка */
    stroke: #f2f2f2; /* цвет обводки */
    stroke-width: 0.1rem; /* толщина обводки */
    align-self: center;
}
.arow {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        border-left: 0.1rem solid rgba(113, 113, 126, 0.3);
        transform: rotate(90deg);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 99%;
    }
}

/*text-slidera*/
.slider__contant {
    width: 30.5rem;
}
.slider__text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.24rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #565b62;
}
.slider__text-bold {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.52rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
    .swiper-slide-width {
        padding: 2.5rem 1.9rem 3.7rem 1.9rem;
    }
    .slider__contant {
        width: auto;
    }
    .education-slider .swiper-slide-active {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            border-right: 0.1rem solid rgba(113, 113, 126, 0.3);
            transform: rotate(90deg);
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
            height: 55%;
        }
    }
}
@media screen and (min-width: 1020px) {
    .slider__contant {
        width: 30.5rem;
    }
    .slider__text {
        font-size: 1.4rem;
        line-height: 2.24rem;
    }

    .slider__text-bold {
        font-size: 2.4rem;
        line-height: 3.36rem;
    }
}
