.education-slider.swiper-container.education-slider-indent
    .swiper-wrapper
            
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
                .slider__contant
                    p.slider__text.slider__text-bold 1995-2000
                    p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
            .slider__contant
                p.slider__text.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.
        .swiper-slide.swiper-slide-width
            .slider__contant
                p.slider__text.slider__text-bold 1995-2000
                p.slider__text Московский государственный открытый педагогический университет им. Шолохова, факультет психологии и педагогики, диплом с отличием. 
                                |Квалификация: практический психолог.   
    .arow
        p.swiper-buton.swiper-buton-right
            svg(class="arrows")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#arrow-right") 
        p.swiper-buton.swiper-buton-left
            svg(class="arrows")
                use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#arrow-left") 
        
    //- .swiper-scrollbar