button {
    border-radius: 6.25em;
    font-feature-settings: "pnum" on, "lnum" on;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
    padding: 1rem 0;
    align-self: baseline;
    display: block;
    font-size: 1.4rem;
    line-height: 140%;
    background: transparent;
    position: relative;
    transition: all 1s;
    z-index: 0;
    color: #ffffff;
    @media (min-width: 1200px) {
        font-size: 1.8rem;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        background: #e89160;
        z-index: -1;
        transform: translate3D(0, -101%, 0);
        transition: all 0.7s;
    }
    &:focus::after,
    &:hover::after {
        transform: translate3D(0, 0, 0);
        transform: rotate(0deg);
    }
    &::after {
        width: 130%;
        transform-origin: 0 bottom;
        transform: translate3D(-50%, 0, 0) rotate(-50deg);
    }
    &::before {
        background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 0.97%);
        z-index: -2;
        transform: translate3D(0, 0, 0);
    }
}

.show-modal-1 {
    width: 100%;
    max-width: 22rem;
    height: 6.1rem;
}
.show-modal-2 {
    padding: 1.4rem 2.8rem;
    @media (min-width: 1420px) {
        padding: 1.8rem 3.6rem;
    }
}
.btn-mn {
    visibility: hidden;
    @media (min-width: 1420px) {
        order: 2;
        visibility: visible;
    }
}
