.btn {
    margin-top: 2em;
    padding: 1.1em 0;
    width: 13.75em;
    // display: block;
    outline: none;
    background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 0.97%);
    border-radius: 6.25em;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.37em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    border: none;

    transition: all 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition-delay: 1.5s;
    &:hover {
        background: transparent;
        color: #4dc8c0;
        background: radial-gradient(ellipse, transparent 58%, #56d0c9 90%, #4dc8c0 90%);

        transition: all 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition-delay: 1.5s;
    }

    // &:active {
    //     background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 99.97%);
    //     background: linear-gradient(360deg, Transparent, #1abc9c 100%);
    // }
}
.btn__mobail-none {
    display: none;
}
.btn-center {
    margin: 0 auto;
    margin-top: 2em;
}
@media screen and (min-width: 1320px) {
    .btn__none-desctop {
        display: none;
    }
    .btn__mobail-none {
        display: block;
        margin: 0;
    }

    .btn {
        width: 13.75em;
        height: 3.81em;
        padding: 1.2em 0;
        text-align: center;
        margin-top: 0.8em;
    }
}
