button {
    background: linear-gradient(269.95deg, #56d0c9 0.05%, #4dc8c0 0.97%);
    border-radius: 6.25em;
    font-feature-settings: "pnum" on, "lnum" on;
    border: none;
    outline: none;
    overflow: hidden;
    position: relative;
    padding: 1rem 0;
    align-self: baseline;
    display: block;
    font-size: 1.4rem;
    line-height: 140%;
    @media (min-width: 1200px) {
        font-size: 1.8rem;
    }
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        bottom: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.7s;
        border-radius: 6.25em;
    }
    &:focus:before,
    &:hover:before {
        width: 100%;
        left: 0;
        opacity: 1;
        background: #e89160;
        transition: all 0.6s ease;
    }
    span {
        position: relative;
        color: #ffffff;
        width: 100%;
    }
}
.show-modal-1 {
    width: 100%;
    max-width: 22rem;
    height: 6.1rem;
}
.show-modal-2 {
    padding: 1.4rem 2.8rem;
    @media (min-width: 1420px) {
        padding: 1.8rem 3.6rem;
    }
}
.btn-mn {
    visibility: hidden;
    @media (min-width: 1420px) {
        order: 2;
        visibility: visible;
    }
}
