footer.footer
    .container
        .footer__top-content
            ul.footer__menu-list
                li: a(href="family-psych.html") Семейная консультация
                li: a(href="online-consul.html") Онлайн-консультация
                li: a(href="indiv-consul.html") Индивидуальные консультации
                li: a(href="child-psych.html") Детский психолог
            .contacts
                include ../../blocks/contacts/contacts.pug
            button.btn.show-modal-1(data-toggle="modal-1") Обратный звонок 
        ul.menu__list-footer
                li: a(href="about-me.html") Обо мне
                li: a(href="services.html") Услуги
                li: a(href="price.html") Цены
                li: a(href="reviews.html") Отзывы
                li: a(href="blog.html") Блог
                li: a(href="contacts.html") Контакты
        ul.social
            li
                a(href='#' target="_blank")
                    img(src="wp-content/themes/twentytwenty-child/img/icons/youtube.svg" alt="youtube")
            li
                a(href='#' target="_blank")
                    img(src="wp-content/themes/twentytwenty-child/img/icons/instagram.svg" alt="instagram") 
            li
                a(href='#' target="_blank")
                    img(src="wp-content/themes/twentytwenty-child/img/icons/vk.svg" alt="vk") 
        .policy__footer
            p
                a(href="" target="_blank") Политика конфиденциальности сайта
            p
                a(href="" target="_blank") Разработка сайта
// END FOOTER
//- .modal__thanks
//-     #openModalThanks.modal
//-                 .modal-dialog
//-                     .content-modal
//-                         .modal-header
//-                             a(href="#close" title="Close").close x
//-                         form.form__thanks.form
//-                             .form__blocks
//-                                 h2.mainText.text-main Спасибо за заявку!
//-                                 p.secondText Мы свяжемся с вами в ближайшее время, в рабочии часы, указанные на сайте
            

