// FOOTER
.footer {
    width: 100%;
    height: auto;
    background: url("../img/footerBg-s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 4.1rem 0;
    overflow: hidden;
    @media (min-width: 768px) {
        background: url("../img/footerBg-m.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @media (min-width: 1024px) {
        background: url("../img/footerBg-l.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__top-content {
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 3rem;
        }
        @media (min-width: 1394px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-bottom: 3rem;
        }
        .contacts {
            margin: 0 auto;
            margin-bottom: 2.5rem;
            @media (min-width: 768px) {
                margin: 0;
            }
        }
    }
    &__menu-list {
        margin-bottom: 2rem;
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            text-align: left;
            margin: 0 auto;
            width: 100%;
            max-width: 65rem;
            margin-bottom: 2rem;
        }
        @media (min-width: 1126px) {
            margin: 0;
            max-width: 59rem;
        }
        @media (min-width: 1320px) {
            max-width: 65rem;
            margin-right: auto;
        }
        @media (min-width: 1394px) {
            max-width: 59rem;
        }
        li {
            text-align: center;
            a {
                text-align: center;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    height: 0.1rem;
                    width: 0%;
                    bottom: 0;
                    right: 0;
                    background-color: #565b62;
                    transition: width 0.4s ease-in-out;
                }
                &:focus:after,
                &:hover:after {
                    width: 100%;
                    left: 0;
                    opacity: 1;
                    transition: width 0.4s ease-in-out;
                }
            }
        }
    }
    .show-modal-1 {
        margin: 0 auto;
        margin-bottom: 2.5rem;
        @media (min-width: 768px) {
            margin: 0;
        }
        @media (min-width: 1126px) {
            margin: 0 auto;
            margin-top: 2rem;
        }
        @media (min-width: 1394px) {
            margin: 0;
        }
    }
    .menu__list-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        text-align: center;
        margin-bottom: 3.9rem;
        @media (min-width: 411px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            background: #879ab9;
            border-radius: 0.5rem;
            padding: 1.5rem 1rem 0 1rem;
        }
        @media (min-width: 768px) {
            justify-content: flex-start;
            align-content: center;
            margin-bottom: 4.6rem;
        }
        @media (min-width: 1024px) {
            margin-bottom: 3rem;
        }

        a {
            line-height: 2.52rem;
            transition-duration: 0.3s;
            &:hover {
                font-weight: bold;
                transition-duration: 0.3s;
            }
            @media (min-width: 411px) {
                color: #ffffff;
            }
        }
        li {
            @media (min-width: 411px) {
                width: 26%;
            }
            @media (min-width: 768px) {
                width: 16%;
            }
        }
    }
    a {
        display: inline-block;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2.52rem;
        color: #565b62;
        transition-duration: 0.02s;
        text-align: center;
        margin-bottom: 1.3rem;
        transition-duration: 0.02s;
    }
    &__top {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        margin-bottom: 4rem;
    }
    .policy__footer {
        margin: 0 auto;
        max-width: 35rem;
        text-align: center;
        p {
            margin-bottom: 0.3rem;
        }
        a {
            text-decoration-line: underline;
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
    .social {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 3rem;
        li {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 2.1rem;
            transition: 0.5s ease-in-out;
            &:last-child {
                margin-right: 0;
            }
            &:focus img,
            &:hover img {
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
                transition: 0.5s ease-in-out;
                transform: scale(1, 0.7);
                transition-timing-function: ease-out;
                transition-duration: 550ms;
            }
            a,
            img {
                border-radius: 50%;
                width: 100%;
                transform: scale(1, 1);
                transition-timing-function: ease-out;
                transition-duration: 550ms;
            }
        }
    }
}

//
