.titles {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.3rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #565b62;
}
.titles_width {
    max-width: 28.6rem;
}
.titles-indent {
    margin-top: 1rem;
}
@media screen and (min-width: 1360px) {
    .titles {
        font-size: 3.6rem;
        line-height: 5.04rem;
    }
}
@media screen and (min-width: 1560px) {
    .titles_width {
        max-width: 43.6rem;
    }
}
