.min-text.min-text__indent
    p.min-text__text.min-text__color.min-text__margins 16 лет практики
    p.min-text__text.min-text__color.min-text__margins Работаю с взрослыми и детьми
    p.min-text__text.min-text__color.min-text__margins Полная Конфиденциальность