// SECTION ОТЗЫВЫ
.sectionSix {
    text-align: center;
    padding: 4rem 2.5rem;
    @media (min-width: 768px) {
        padding: 7rem 4rem;
    }
    @media (min-width: 1020px) {
        padding: 0 0 9.7rem 0;
    }
    .text-bgc,
    h2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .slider__contants {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        height: 100%;
        text-align: left;
        @media (min-width: 768px) {
            padding: 2rem 2rem 4rem 2rem;
        }
        h4 {
            text-align: right;
        }
        p {
            @media (min-width: 768px) {
                margin-bottom: 1rem;
            }
        }
    }
    .swiper-slide .swiper__bg {
        align-self: stretch;
    }
    .swiper__bg {
        background: #ffffff;
        box-sizing: border-box;
        width: 90%;
        border-radius: 1rem;
        opacity: 0.7;
    }
    .reviews__swiper-wrapper {
        margin: 3rem 0;
        z-index: 1;
    }
    .swiper-slide-active {
        opacity: 1;
        align-self: stretch;
        @media (min-width: 1020px) {
            opacity: 1;
            border: 0.1rem solid #fbfbfb;
            box-shadow: 0px 1rem 1rem rgba(157, 157, 157, 0.07), 0rem 3rem 2.4rem rgba(157, 157, 157, 0.0456112),
                0rem 1.25rem 1rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
        }
    }
    .reviews-slider {
        border-radius: 1rem;
        border: 0.1rem solid #fbfbfb;
        box-shadow: 0px 1rem 1rem rgba(157, 157, 157, 0.07), 0rem 3rem 2.4rem rgba(157, 157, 157, 0.0456112),
            0rem 1.25rem 1rem rgba(157, 157, 157, 0.035), 0rem 0.45rem 0.36rem rgba(157, 157, 157, 0.0243888);
        @media (min-width: 1020px) {
            border-radius: 0rem;
            border: 0rem;
            box-shadow: none;
        }
    }
    .swiper-buton-left,
    .swiper-buton-right {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 2.4rem;
            height: 2.4rem;
            top: 0;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
            transform: translateY(50%);
        }
    }
    .swiper-buton-left {
        &::after {
            background-image: url("../img/icons/arrow-left.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .swiper-buton-right {
        &::after {
            background-image: url("../img/icons/arrow-right.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .arow {
        margin: 0 auto;
        width: 10em;
        height: 3.12em;
        display: flex;
        justify-content: space-around;
        align-content: center;
        background: linear-gradient(269.95deg, #4dc8c0 0.05%, #56d0c9 99.97%);
        border-radius: 0 0 0.5rem 0.5rem;
        text-align: center;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            border-left: 0.1rem solid rgba(113, 113, 126, 0.3);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 99%;
        }
        @media (min-width: 1020px) {
            margin-top: -3rem;
            z-index: 2;
        }
    }
    .swiper-buton {
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;
        outline: none;
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
    }
}
//
