section.sectionSix
    .sectionSix__width.reviews.reviews__indent
        p.min-text__text.min-text__color.reviews__min-text Отзывы обо мне
        h2.titles.reviews__titles.text-center Как помогают консультации психолога?
        .reviews-slider.swiper-container.reviews-slider-indent
            .swiper-wrapper.reviews__swiper-wrapper
                .swiper-slide.swiper__bg
                        .slider__contants
                            p.slider__text-italic "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                                            
                            p.slider__text.slider__text-bold.slider__text-right Кристина
                .swiper-slide.swiper__bg
                        .slider__contants
                            p.slider__text-italic "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                            p.slider__text.slider__text-bold.slider__text-right Кристина
                .swiper-slide.swiper__bg
                        .slider__contants
                            p.slider__text-italic "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                            p.slider__text.slider__text-bold.slider__text-right Кристина
                .swiper-slide.swiper__bg
                        .slider__contants
                            p.slider__text-italic "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                            p.slider__text.slider__text-bold.slider__text-right Кристина
                .swiper-slide.swiper__bg
                    .slider__contants
                            p.slider__text-italic "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                            p.slider__text.slider__text-bold.slider__text-right Кристина
                .swiper-slide.swiper__bg
                    .slider__contants
                            p.slider__text-italic "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                            p.slider__text.slider__text-bold.slider__text-right Кристина
        .arow.reviews__arow
            p.swiper-buton.swiper-buton-right
                svg(class="arrows")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#arrow-right") 
            p.swiper-buton.swiper-buton-left
                svg(class="arrows")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#arrow-left") 
