section.sectionSix
        .text-bgc
            p Отзывы обо мне
        h2 Как помогают консультации психолога?
        .reviews-slider.swiper-container
            .swiper-wrapper.reviews__swiper-wrapper
                .swiper-slide.swiper__bg
                        .slider__contants
                            p 
                                i "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                    |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                                            
                            h4 Кристина
                .swiper-slide.swiper__bg
                        .slider__contants
                            p 
                                i "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                            h4 Кристина
                .swiper-slide.swiper__bg
                        .slider__contants
                            p 
                                i "Легче мне стало уже после первой консультации. Конечно, решения проблем так быстро не нашлись. Но груз с плеч свалился и появилось ощущение, что я не одна...
                                            |Я многое узнала о себе, научилась прислушиваться к внутреннему голосу и быть более внимательной. Осознала, насколько все-таки общество и пресловутые стереотипы влияют на каждого из нас и могут сделать несчастными. Я больше не боюсь быть самой собой, быть смешной, не такой и это огромное счастье. Мне снова не страшно принимать решения и самое главное - жить осознанно, а не плыть по течению."
                            h4 Кристина
        .arow
            .swiper-buton.swiper-buton-right
            .swiper-buton.swiper-buton-left
        