// individ consul
.bg__indivConsul {
    background: url("../img/individ1@1x-s.jpg");
    padding: 4rem 0;
    @media (min-width: 768px) {
        background: url("../img/individ1@1x-m.jpg");
    }
    @media (min-width: 1020px) {
        background: url("../img/individ1@1x.jpg");
        padding: 11.1rem 0 7.2rem 0;
    }
}
@media (max-width: 415px) {
    .bg__indivConsul {
        .title {
            font-size: 2.8rem;
        }
    }
}
//
