.header__indivConsul {
    margin-bottom: 4rem;
}
.container__indivConsul {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 11.1rem 1rem 7.2rem 1rem;
}

.indivConsul {
    &__title {
        font-size: 2.8rem;
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        line-height: 4.3rem;
        text-align: center;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #565b62;
        margin-bottom: 2rem;
    }
    &__text {
        margin-bottom: 4.5rem;
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-content: center;
    }
    &__content {
        margin: 0;
    }
}
@media screen and(min-width:411px) {
    .indivConsul__title {
        font-size: 3.6rem;
    }
}
@media screen and(min-width:620px) {
    .indivConsul__title {
        font-size: 4.1rem;
        line-height: 5rem;
    }
}
@media screen and(min-width:768px) {
    .indivConsul__title {
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
}
@media screen and(min-width:900px) {
    .indivConsul__title {
        font-size: 5.8rem;
        line-height: 6.8rem;
    }
}
@media screen and(min-width:1020px) {
    .indivConsul__title {
        margin: 0 auto;
        max-width: 75rem;
        font-size: 7.2rem;
        line-height: 8.6rem;
        margin-bottom: 2rem;
    }
    .indivConsul__text {
        margin: 0 auto;
        max-width: 75rem;
        margin-bottom: 4.5rem;
    }
}
@media screen and(min-width:1083px) {
    .indivConsul__block {
        gap: 4rem;
    }
}
// ::before {
//     content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
//     padding-right: 5px; /* Расстояние от маркеров до текста */
//     color: red; /* Маркеры красного цвета */
