section
    .container.about.width.about-indent
        .about__content.about__content-width
            p.min-text__text.min-text__color.about__text Отзывы обо мне
            h2.titles.titles_width.titles-indent Когда нужна консультация психолога?
            p.txt.txt-indent В нашей жизни возникают ситуации, когда мы переживаем негативные чувства, стресс. И не
                            |всегда можно понять, наступил ли тот момент,
                            |когда нужно идти к психологу или мы еще можем справиться сами.
            p.txt.txt-indent Только вы сами можете определить, когда пришло время обращаться за помощью к психологу. Важно понимать, 
                        span.txt-bold что консультация психолога это лучший способ преодоления эмоциональных проблем.
        include ../../blocks/picture/picture.pug
section.occasion.section__indivConsul
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text Повод обратиться
        h2.titles.advantage__titl.text-center Психолог поможет, если вы чувствуете что:
    .occasion__block.block__txt 
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Чувство вины и самокритика 
                |управляют вашими решениями, не дают сказать нет, 
                |нарушают спокойствие, вызывают
                |глубокую тревогу.
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Низкая самооценка 
                |создает неуверенность в себе, мешает достигать цели, воплощать 
                |ваши мечты, препятствует серьезным отношениям.
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Апатия, отсутствие надежды 
                |начинают подавлять вас. 
                |Жизнь кажется бессмысленной, возникают мысли о смерти.
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Боль после расставания 
                |не уменьшается, вы испытываете горечь одиночества,
                |предательства, чувствуете себя
                |непонятым и отвергнутым.
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Повторяющиеся неудачи в отношениях
                |, лишают вас надежды найти спутника жизни.
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Стеснение
                |, робость, стыд, 
                span.txt-bold страх негативной оценки со стороны 
                |вызывают проблемы в общении, портят отношения с людьми, которые вас окружают.
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Находитесь в тупике
                |, не знаете куда двигаться дальше.
        .block__txt-txt 
            .block__txt-icon
                svg(class="spam-icon")
                    use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#spam")
            p.txt 
                span.txt-bold Тревога, постоянное беспокойство
                |, панические состояния, страхи мешают жизни.
