.picture.picture__width.picture__indent.picture__about
    picture
        source(type='image/webp', srcset='wp-content/themes/twentytwenty-child/img/female@1x.webp 1x, wp-content/themes/twentytwenty-child/img/female@2x.webp 2x')
        img.picture-female.img__block(src='wp-content/themes/twentytwenty-child/img/female@1x.png', srcset='wp-content/themes/twentytwenty-child/img/female@2x.png 2x', alt='', width='547', height='695')

