.sectionEight {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
// .section__form {
//     margin: 0 auto;
// }
// .form__policy-center {
//     margin: 0 auto;
//     width: 80%;
//     text-align: center;
// }

// .section__form {
//     padding: 2.8rem 0;
// }
// .form__displiy {
//     .form__policy {
//         margin: 0;
//         margin-left: -1rem;
//     }
// }

@media screen and (min-width: 868px) {
}
@media screen and (min-width: 868px) {
}
@media screen and (min-width: 1260px) {
}
