section.sectionEight(style='background-image: url("wp-content/themes/twentytwenty-child/img/bg4.png");')
    .form__width
            form.form__displiy
                h2.mainTexts Запись на приём
                p.secondTexts Заполните форму и я перезвоню вам для уточнения удобного для вас времени
                .formInput.formInput-flex
                    span
                    input.form__input-style.form__input-block(type="text" name='name' placeholder="Ваше имя" required="required")
                    input.form__input-style.form__input-block(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
                    a.btn.btn__width.form__btn-bottom(href="#open") Запись на консультацию
                .head__form-policy
                    input.form__checkbox#form__checkboxFour(type="checkbox" checked="")
                    label.form__pol(for="form__checkboxFour") 
                        span.form__policy-links Вы соглашаетесь с 
                            a.form__policy-link(href="#!") условиями обработки персональных данных