section.sectionEight
    .container
        .form-box
            form.form
                h5.form__title Запись на приём
                p Заполните форму и я перезвоню вам для уточнения удобного для вас времени
                .box-input
                    input(type="text" name='name' placeholder="Ваше имя" required="required")
                    input(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
                    button Запись на консультацию
                .form__policy
                    input#form2(type="checkbox" checked="")
                    label(for="form2") Вы соглашаетесь с 
                        a(href="#!" target="_blank") условиями обработки персональных данных