// Separate the person from the problem
section.blogPage
    .blogPage__containers
        .blogPage__box
            h2.titles.blogPage__titles Отделить человека от проблемы
            p.txt.blogPage__txt Важно ощущение комфорта и свободы, чтобы консультация прошла с пользой для человека. Для этого психолог создает атмосферу уважения, сотрудничества, заботы и веры в способности человека.
            p.txt.blogPage__txt В начале консультации психолог строит беседу таким образом, что бы совместно с человеком выяснить, что его беспокоит, что вызывает страдание. Затем консультант и человек подбирают название, того что беспокоит, дают проблеме имя. Например, проблема может получить имя Апатия.
            p.txt.blogPage__txts Психолог вместе с клиентом исследуют как Апатия возникла его жизни, какими «стратегиями» и «тактиками» она пользуются, что бы захватить его жизнь, какие факторы поддерживают существование проблемы, когда Апатия может проявить свою силу, а когда апатии не удается подчинить себе человека.
                |При помощи этого исследования проблема «отделяется» от личности человека.
            .picture.blogPage__picture
                picture
                    source(type='image/webp', srcset='wp-content/themes/twentytwenty-child/img/blogPage2@1x.webp 1x, wp-content/themes/twentytwenty-child/img/blogPage2@2x.webp 2x')
                    img.picture-female(src='wp-content/themes/twentytwenty-child/img/blogPage2@1x.png', srcset='wp-content/themes/twentytwenty-child/img/blogPage2@2x.png 2x', alt='', width='547', height='695')
        include ../../blocks/article/article.pug

    .blogPage__container
        h2.titles.blogPage__titles Отделить человека от проблемы
        p.txt.blogPage__txt Важно ощущение комфорта и свободы, чтобы консультация прошла с пользой для человека. Для этого психолог создает атмосферу уважения, сотрудничества, заботы и веры в способности человека.
        p.txt.blogPage__txt В начале консультации психолог строит беседу таким образом, что бы совместно с человеком выяснить, что его беспокоит, что вызывает страдание. Затем консультант и человек подбирают название, того что беспокоит, дают проблеме имя. Например, проблема может получить имя Апатия.
        p.txt.blogPage__txts Психолог вместе с клиентом исследуют как Апатия возникла его жизни, какими «стратегиями» и «тактиками» она пользуются, что бы захватить его жизнь, какие факторы поддерживают существование проблемы, когда Апатия может проявить свою силу, а когда апатии не удается подчинить себе человека.
            |При помощи этого исследования проблема «отделяется» от личности человека.
        .picture.blogPage__picture
            picture
                source(type='image/webp', srcset='wp-content/themes/twentytwenty-child/img/blogPage2@1x.webp 1x, wp-content/themes/twentytwenty-child/img/blogPage2@2x.webp 2x')
                img.picture-female(src='wp-content/themes/twentytwenty-child/img/blogPage2@1x.png', srcset='wp-content/themes/twentytwenty-child/img/blogPage2@2x.png 2x', alt='', width='547', height='695')
        h2.titles.blogPage__titles Отделить человека от проблемы
        p.txt.blogPage__txt Важно ощущение комфорта и свободы, чтобы консультация прошла с пользой для человека. Для этого психолог создает атмосферу уважения, сотрудничества, заботы и веры в способности человека.
        p.txt.blogPage__txt В начале консультации психолог строит беседу таким образом, что бы совместно с человеком выяснить, что его беспокоит, что вызывает страдание. Затем консультант и человек подбирают название, того что беспокоит, дают проблеме имя. Например, проблема может получить имя Апатия.
        p.txt.blogPage__txts Психолог вместе с клиентом исследуют как Апатия возникла его жизни, какими «стратегиями» и «тактиками» она пользуются, что бы захватить его жизнь, какие факторы поддерживают существование проблемы, когда Апатия может проявить свою силу, а когда апатии не удается подчинить себе человека.
            |При помощи этого исследования проблема «отделяется» от личности человека.
// END Separate the person from the problem