.header__blogPage {
    margin-bottom: 4.3rem;
}
.section__blogPage {
    margin-bottom: 10.3rem;
}
.wraper {
    margin: 0 auto;
    width: 81.5%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
}
.container__blogPage {
    padding: 4.1rem 1rem;
}
.blogPage__title,
.blogPage__text {
    margin: 0 auto;
}
.blogPage__text {
    max-width: 62.8rem;
}
.blogPage {
    margin: 0 auto;
    width: 81.5%;
    &__containers {
        display: flex;
        flex-direction: column;
    }
    &__box {
        order: 1;
    }
    &__titles {
        margin-bottom: 3rem;
    }
    &__txt {
        margin-bottom: 2rem;
    }
    &__txts {
        margin-bottom: 12.1rem;
    }
    &__picture {
        margin-bottom: 3.2rem;
    }
    &__min-text,
    &__title {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 670px) {
    .blogPage {
        margin: 0 auto;
        width: 81.5%;
        &__containers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;
        }
        &__box {
            width: 52%;
            order: 0;
        }
    }
}
@media screen and (min-width: 768px) {
    .blogPage {
        &__containers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__box {
            width: 78%;
            order: 0;
        }
        &__container {
            width: 55%;
        }
    }
}
@media screen and (min-width: 1024px) {
    .blogPage {
        &__box {
            width: 60%;
            order: 0;
        }
        &__container {
            width: 60%;
        }
        gap: 5rem;
    }
}
