section.aboutMe.sect
    h1.title.aboutMe__titles Обо мне
    .about.width.aboutMe__container
        .about__content.about__content-width
            include ../../blocks/titles/titles.pug
            include ../../blocks/txt/txt.pug
        include ../../blocks/picture/picture.pug
    .about.width.aboutMe__container
        .aboutMe__content.about__content-width
            p.txt.txt-indent  Имея опыт более 20 лет как в России, так и за рубежом, пришла к выводу, что не каждый готов обратиться за психологической помощью. Многие люди, особенно мужчины, боятся делиться своим сокровенным, думая что это будет выглядеть проявлением слабости и неуверенности. Опасаются, что окажутся под влиянием и перестанут быть самим собой, что психолог начнет читать мораль или, наоборот, нахваливать за их же деньги. Это конечно же не так!
            p.txt.txt-indent В жизни каждого из Вас наверняка возникали ситуации, когда появляются вопросы, на которые, увы, никак не найти ответы, когда тоска сжимает сердце и хочется поскорее скинуть этот груз с плеч. В этот момент общение с тактичным, понимающим психологом становится глотком свежего воздуха, побегом из душной и узкой комнаты на улицу. Нет ничего зазорного в том, что Вы обращаетесь к специалистам в сложных жизненных ситуациях.
            p.txt.txt-indent  Обращаясь ко мне как к специалисту по семейным, личным и психологическим проблемам, Вы можете быть уверены в получении максимально профессиональной помощи. 
        .pictures.picture__width.picture__indent.picture__about
            img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')