// Услуги психолога
section.aboutMe.pt
    .container
        h1.title Услуги психолога
        .about
            .about__content
                p Психолог – это не просто мудрый и опытный человек, разбирающийся в закоулках человеческой души, это высокообразованный профессионал, прошедший личностную психотерапию. Это эксперт, которому желательно создать такие условия для клиента, когда человек сам способен понять, переосмыслить и переоценить собственные проблемы, которые перестают его беспокоить, и в дальнейшем суметь поддерживать качество жизни на должном уровне.
                p Пытаетесь решить проблему, стараясь найти услуги хорошего, опытного, семейного психолога. Тратите на поиски время, мучаясь сомнениями, нужен ли он вам, окажет ли необходимую помощь, поддержку и даст ли правильный совет? Не сомневайтесь и не терзайтесь больше, так как вы уже находитесь на сайте профессионального психоаналитика!
            include ../../blocks/picture/picture.pug
        .about.aboutMe-about
            .about__content
                p Консультация психолога дает возможность человеку решить психологическую дилемму, показать правильное направление на дальнейшую стратегию в различных кризисных ситуациях.
                p Предоставляя услуги психолога в Москве и применяя знания и практический опыт, помогу проанализировать затруднительное положение, осознать собственные чувства, ошибки, переживания и взглянуть со стороны на себя, совместными усилиями разрешим конфликтные вопросы и сомнения!
                p Обращаясь ко мне как к специалисту по семейным, личным и психологическим проблемам, Вы можете быть уверены в получении максимально профессиональной помощи. 
            .pictures.picture
                img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
// END Услуги психолога
