// Услуги психолога
section.service.sect
    h1.title.aboutMe__titles Услуги психолога
    .about.width.service__container
        .about__content.about__content-width
            p.service__txt Психолог – это не просто мудрый и опытный человек, разбирающийся в закоулках человеческой души, это высокообразованный профессионал, прошедший личностную психотерапию. Это эксперт, которому желательно создать такие условия для клиента, когда человек сам способен понять, переосмыслить и переоценить собственные проблемы, которые перестают его беспокоить, и в дальнейшем суметь поддерживать качество жизни на должном уровне.
            p.service__txt Пытаетесь решить проблему, стараясь найти услуги хорошего, опытного, семейного психолога. Тратите на поиски время, мучаясь сомнениями, нужен ли он вам, окажет ли необходимую помощь, поддержку и даст ли правильный совет? Не сомневайтесь и не терзайтесь больше, так как вы уже находитесь на сайте профессионального психоаналитика!
        include ../../blocks/picture/picture.pug
    .about.width.aboutMe__container
        .aboutMe__content.about__content-width
            p.service__txt  Консультация психолога дает возможность человеку решить психологическую дилемму, показать правильное направление на дальнейшую стратегию в различных кризисных ситуациях.
            p.service__txt Предоставляя услуги психолога в Москве и применяя знания и практический опыт, помогу проанализировать затруднительное положение, осознать собственные чувства, ошибки, переживания и взглянуть со стороны на себя, совместными усилиями разрешим конфликтные вопросы и сомнения!
            p.service__txt Обращаясь ко мне как к специалисту по семейным, личным и психологическим проблемам, Вы можете быть уверены в получении максимально профессиональной помощи. 
        .pictures.picture__width.picture__indent.picture__about
            img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
// END Услуги психолога
// Types of consultations
section.sectionFive
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text Виды консультаций
        h2.titles.advantage__titl.text-center Кому могут быть полезны консультации психолога?
        .adventige
            .picture
                img(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
            .adventige__text
                h3 Индивидуальные консультации психолога
                p Если вы хотите понять себя, разобраться в отношениях с другими. Изменить то, что мешает жить лучше. Найти выход из сложных ситуаций. Освободиться от негативных эмоций. Управлять своей жизнью.
                a(href='indiv-consul.html').btn.advantage__btn 
                    span Подробнее
        .adventige
            .picture
                img(src='wp-content/themes/twentytwenty-child/img/adventigeTree.jpg', alt='Пара на консультации')
            .adventige__text
                h3 Консультации психолога для семей и пар
                p Если вы хотите улучшить отношения, сохранить семью, вернуть теплые чувства, уважение и понимание, научиться договариваться, разрешать конфликты мирно.
                a(href='family-psych.html').btn.advantage__btn 
                    span Подробнее
        .adventige
            .picture
                img(src='wp-content/themes/twentytwenty-child/img/adventigeTree.jpg', alt='Пара на консультации')
            .adventige__text
                h3 Консультации психолога для детей, подростков и родителей
                p Если вы хотите лучше понимать ребенка/подростка, убрать конфликты и непонимание в отношениях. Помочь ребенку/подростку справляться со сложными переживаниями, проблемами в школе, в отношениях со сверстниками.
                a(href='child-psych.html').btn.advantage__btn 
                    span Подробнее
        .adventige
            .picture
                img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
            .adventige__text
                h3 Консультация психолога онлайн
                p Если вам нужна квалифицированная помощь психолога онлайн
                a(href='online-consul.html').btn.advantage__btn 
                    span Подробнее
// END Types of consultations
