.accordion-item
        input#s1(type="checkbox" checked)
        label(for='s1') Неуверенность в своих силах, сомнения в себе, неприятие своего тела, негативное отношение к себе
        .accordion-child
                p Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, 
                        |то что не устраивает, сказать нет. Сомневаетесь в своих решениях. 
                        |Постоянно критикуете свою внешность, поступки, мысли.