.accordion-item
        input#s1.hide(type="checkbox" checked)
        label.accordion-label.accordion-label-top(for='s1') Неуверенность в своих силах, сомнения в себе, неприятие своего тела, негативное отношение к себе
        .accordion-child
                p.accordion-text Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, 
                        |то что не устраивает, сказать нет. Сомневаетесь в своих решениях. 
                        |Постоянно критикуете свою внешность, поступки, мысли.
                        |Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, 
                        |то что не устраивает, сказать нет. Сомневаетесь в своих решениях. 
                        |Постоянно критикуете свою внешность, поступки, мысли.