.accordion
    input#info__body_1.info__switch(type="checkbox" checked="")
    label.info__headline(for="info__body_1")
            a.info__links Неуверенность в своих силах, сомнения в себе, неприятие своего тела, негативное отношение к себе
    p.info__body Если вы чувствуете, что живете не своей жизнью, а соответствуете ожиданиям другим. Не можете изменить, то что не устраивает, сказать нет. Сомневаетесь в своих решениях. Постоянно критикуете свою внешность, поступки, мысли.
