section.head
    .container
        .head__box
            h1.title Консультация психолога в Москве
            h6.sub-title Помогаю справляться с негативными 
                |эмоциями, находить источник спокойствия
                |и силы в себе
            .text-bgc
                p 16 лет практики
                p Работаю с взрослыми и детьми
                p Полная Конфиденциальность
        .form-box
            form.form
                h5.form__title Запись на приём
                p Заполните форму и я перезвоню вам для уточнения удобного для вас времени
                .box-input
                    input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                    input._req.phone-input(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
                    button.btn-send Запись на консультацию
                .form__policy
                    input._req#form1(type="checkbox" checked="")
                    label(for="form1") Вы соглашаетесь с 
                        a(href="#!" target="_blank") условиями обработки персональных данных