.address {
    margin: 0 auto;
    width: 28.9rem;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}
.hamburger__addres {
    margin-bottom: 2.8rem;
}
.adress__none {
    display: none;
}
// Не влазило на экраны 540px
@media screen and (min-width: 540px) {
    .address__indent {
        margin-top: 8.1rem;
    }
}
@media screen and (min-width: 1120px) {
    .adress__none {
        display: block;
        margin: 2.8rem;
    }
    .address {
        width: 28.9rem;
        display: flex;
        padding-bottom: 2rem;
    }
    .addres {
        align-self: center;
    }
}
@media screen and (min-width: 1320px) {
    .adress__none-desctop {
        display: none;
    }
}
