/************ MENU *****************/
.hamburger-menu {
    width: 100%;
    position: relative;
    height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 2;
    .show-modal-1 {
        margin: 0 auto;
    }
    .hamburger__contacts {
        margin: 0 auto;
        margin-bottom: 2.8rem;
    }
}
#menu__toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #646c79;
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #646c79;
}
/* контейнер меню */
.hamburger__menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 1s;
    border-radius: 0 70% 50% 0;
    padding: 7.7rem 0 5.7rem 0;
    @media screen and (min-width: 1424px) {
        opacity: 1;
        visibility: visible;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        top: auto;
        left: auto;
        box-shadow: none;
        position: relative;
    }
}
/* элементы меню */

#menu__toggle:checked ~ .hamburger__menu-box {
    visibility: visible;
    overflow: auto;
    left: 0;
    transition-duration: 1s;
    background: #f8f8f8;
    z-index: -1;
    border-radius: 0;
}
.menu__box {
    margin: 0 auto;
}
/******* hamburger ********/
.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: -9rem;
    right: 3rem;
    width: 2.8rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
    // @media screen and (min-width: 760px) {
    //     top: -16rem;
    // }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2.8rem;
    height: 0.125em;
    background: #565b62;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.menu__btn > span::before {
    content: "";
    top: -0.5em;
}

.menu__btn > span::after {
    content: "";
    top: 0.5em;
}
.hamburger__menu-list,
.menu__list {
    a {
        display: block;
        text-decoration: none;
        font-size: 2.4rem;
        line-height: 4.7rem;
        text-align: center;
        color: #565b62;
        transition: all 0.4s;
        &:focus,
        &:hover {
            font-weight: bold;
            color: #565b62;
            transition-duration: 0.3s;
        }
        &:active {
            background: linear-gradient(269.95deg, #4dc8c0 0.05%, #56d0c9 99.97%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #4dc8c0;
        }

        @media (min-width: 1424px) {
            font-size: 1.8rem;
            transition-duration: 0.02s;
            line-height: 4.7rem;
            color: #ffffff;
            &:focus,
            &:hover {
                color: #ffffff;
            }
        }
    }
}

.hamburger__menu-list {
    margin-bottom: 11.1rem;
}
// Не влазило на экраны 540px
@media screen and (min-width: 540px) {
    .menu__list {
        margin-top: 5.4rem;
    }
}
@media screen and (min-width: 540px) {
    .menu__list {
        margin-top: 5.4rem;
    }
}

@media screen and (min-width: 1424px) {
    label.menu__btn {
        display: none;
    }
    .menu__list {
        margin: 0 auto;
        width: 90%;
        max-width: 143.7rem;
        padding: 0 20.5rem;
        display: flex;
        justify-content: flex-start;

        align-content: center;
        background: #879ab9;
        border-radius: 0.5rem;
        margin-top: 0rem;
        li {
            width: 9.1%;
            margin-right: 5.4vw;
            text-align: left;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.menu__item--active {
    color: #4dc8c0;
    pointer-events: none;
}
