// article
article.article
    .picture
        img(src='wp-content/themes/twentytwenty-child/img/article.jpg', alt='Елена Иванова')
    h4 Елена Иванова
    p Психолог, нарративный консультант,
                    |специалист по эмоциональному благополучию
    button.btn.show-modal-4(data-toggle="modal-4") Связаться с психологом
    
// END article