article.article.blogPage__article
    .picture.article__picture
        img.picture-female(src="wp-content/themes/twentytwenty-child/img/adventigeFour.png", alt="")
    p.txt.article__txt Елена Иванова
    p.article__text Психолог, нарративный консультант,
                    |специалист по эмоциональному благополучию
    a.btn.article__btn Связаться с психологом