.title {
    // width: 35.4rem;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.3rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #646c79;
    justify-self: center;
    align-self: center;
}
@media screen and (min-width: 620px) {
    .title {
        width: 47rem;

        font-size: 4.1rem;
        line-height: 5rem;
    }
}
@media screen and (min-width: 768px) {
    .title {
        width: 65rem;
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
}
@media screen and (min-width: 900px) {
    .title {
        width: 65rem;
        font-size: 5.8rem;
        line-height: 6.8rem;
    }
}
@media screen and (min-width: 1020px) {
    .title {
        width: 65rem;
        font-size: 7.2rem;
        line-height: 8.6rem;
        margin-top: 6rem;
    }
}
