section.section__one
    .about.width.about-indent
        .about__content.about__content-width
            p.min-text__text.min-text__color.about__text Обо мне
            include ../../blocks/titles/titles.pug
            include ../../blocks/txt/txt.pug
        include ../../blocks/picture/picture.pug
    