@import "mixins";
@import "variables";

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}
body {
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 82%;
  max-width: 144.3rem;
  height: 100%;
  margin: 0 auto;
}

a,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.html-overflow {
  overflow-y: scroll;
}
.modal-first--open {
  opacity: 1;
}
.ns,
.oh {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0 1.5rem 0 0;
}
