section.sectionSeven
    .prices.prices__indent
        p.min-text__text.min-text__color.prices__min-text Стоимость
        h2.titles.prices__titles Цены на услуги
        .flex__block
            .block__content.prices__block
                .picture.prices__picture.prices__width
                    img.picture-female.img__block(src="wp-content/themes/twentytwenty-child/img/imgFive.png", alt="")
                p.min-text__text.min-text__color.prices__min-text 60 минут
                h3.titl.prices__titl Индивидуальная консультация
                p.txt Консультация одного человека, личный приём в кабинете психолога.
                span.txt.prices__txt Стоимость сеанса:  4 000 руб.
            .block__content.prices__block
                .picture.prices__picture.prices__width
                    img.picture-female.img__block(src="wp-content/themes/twentytwenty-child/img/adventigeFour.png", alt="")
                p.min-text__text.min-text__color.prices__min-text 1 час 30 минут
                h3.titl.prices__titl Семейная консультация
                p.txt Консультация семейной пары или детей с родителями, личный приём в кабинете психолога.
                span.txt.prices__txt Стоимость сеанса:  6 000 руб.
            .block__content.prices__block
                .picture.prices__picture.prices__width
                    img.picture-female.img__block(src="wp-content/themes/twentytwenty-child/img/dubl.png", alt="")
                p.min-text__text.min-text__color.prices__min-text 60 минут
                h3.titl.prices__titl Онлайн консультация
                p.txt Личная консультация по скайпу. 
                span.txt Стоимость сеанса:  3 500 руб.