section.sectionSeven
    .container
        .text-bgc
            p Стоимость
        h2 Цены на услуги
        .prices__block
            .prices__content
                .picture
                    img(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                .text-bgc
                    p 60 минут
                h3 Индивидуальная консультация
                p Консультация одного человека, личный приём в кабинете психолога.
                    strong Стоимость сеанса: 4000 руб.
            .prices__content
                .picture
                    img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
                .text-bgc
                    p 1 час 30 минут
                h3 Семейная консультация
                p Консультация семейной пары или детей с родителями, личный приём в кабинете психолога.
                    strong Стоимость сеанса: 6000 руб.
            .prices__content
                .picture
                    img(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                .text-bgc
                    p 60 минут
                h3 Онлайн консультация
                p Личная консультация по скайпу. 
                    strong Стоимость сеанса: 3500 руб.
            