section.sectionSeven
    .width.prices.prices__indent
        p.min-text__text.min-text__color.reviews__text-width.min__text-center Стоимость
        h2.titles.titles-indent.text-center Цены на услуги
        .flex__block
            .block__content
                .picture.picture__indent.prices__width
                    img.picture-female(src="/wp-content/themes/twentytwenty-child/img/imgFive.png", alt="")
                p.min-text__text.min-text__color.reviews__text-width.min-text__indent 60 минут
                h3.titl.titles-indent Индивидуальная консультация
                p.txt.txt-indent Консультация одного человека, личный приём в кабинете психолога.
                span.txt.txt-indent Стоимость сеанса:  4 000 руб.
            .block__content
                .picture.picture__indent.prices__width
                    img.picture-female(src="/wp-content/themes/twentytwenty-child/img/adventigeFour.png", alt="")
                p.min-text__text.min-text__color.reviews__text-width.min-text__indent 1 час 30 минут
                h3.titl.titles-indent Семейная консультация
                p.txt.txt-indent Консультация семейной пары или детей с родителями, личный приём в кабинете психолога.
                span.txt.txt-indent Стоимость сеанса:  6 000 руб.
            .block__content
                .picture.picture__indent.prices__width
                    img.picture-female(src="/wp-content/themes/twentytwenty-child/img/dubl.png", alt="")
                p.min-text__text.min-text__color.reviews__text-width.min-text__indent 60 минут
                h3.titl.titles-indent Онлайн консультация
                p.txt.txt-indent Личная консультация по скайпу. 
                span.txt.txt-indent Стоимость сеанса:  3 500 руб.