doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title Обо мне
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.min.css")
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")
        link(rel="stylesheet" href="./wp-content/themes/twentytwenty-child/css/swiper-bundle.min.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="wp-content/themes/twentytwenty-child/img/favicon.ico"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

    body
        header.header
            include ../sections/header/header.pug
        // ABOUT ME
        include ../sections/aboutMe/aboutMe.pug
        // END ABOUT ME
        // SLIDERS Education, Work experience
        include ../sections/sectionTwo/sectionTwo.pug
        // END SLIDERS Education, Work experience
        // Diplomas and certificates
        include ../sections/carousel/carousel.pug
        // END Diplomas and certificates
        // Types of consultations
        section.sectionFive.sectionFive-aboutMe.sect
            .container
                h2 Виды консультаций
                .advantage
                    .adventige
                        .picture
                            img(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                        .adventige__text
                            h3 Индивидуальные консультации психолога
                            p Если вы хотите понять себя, разобраться в отношениях с другими. Изменить то, что мешает жить лучше. Найти выход из сложных ситуаций. Освободиться от негативных эмоций. Управлять своей жизнью.
                            a(href='indiv-consul.html') 
                                span Подробнее
                    .adventige
                        .picture
                            img(src='wp-content/themes/twentytwenty-child/img/adventigeTree.jpg', alt='Пара')
                        .adventige__text
                            h3 Консультации психолога для семей и пар
                            p Если вы хотите улучшить отношения, сохранить семью, вернуть теплые чувства, уважение и понимание, научиться договариваться, разрешать конфликты мирно.
                            a(href='family-psych.html')
                                span Подробнее
                    .adventige
                        .picture
                            img(src='wp-content/themes/twentytwenty-child/img/adventigeTree.jpg', alt='Пара')
                        .adventige__text
                            h3 Консультации психолога для детей, подростков и родителей
                            p Если вы хотите лучше понимать ребенка/подростка, убрать конфликты и непонимание в отношениях. Помочь ребенку/подростку справляться со сложными переживаниями, проблемами в школе, в отношениях со сверстниками.
                            a(href='child-psych.html')
                                span Подробнее
                    .adventige
                        .picture
                            img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
                        .adventige__text
                            h3 Консультация психолога онлайн
                            p Если вам нужна квалифицированная помощь психолога онлайн
                            a(href='online-consul.html')
                                span Подробнее
        // END Types of consultations
        // FOOTER
        include ../sections/footer/footer.pug
        include ../sections/footer.pug