doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title Обо мне
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.min.css")
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")
        link(rel="stylesheet" href="./wp-content/themes/twentytwenty-child/css/swiper-bundle.min.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="#!"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

    body.bo
        header.header.header__blogPage
            include ../sections/header/header.pug
        include ../sections/aboutMe/aboutMe.pug
        include ../sections/sectionTwo/sectionTwo.pug

        include ../sections/sectionFive/sectionFive.pug
        include ../sections/footer/footer.pug
        include ../sections/footer.pug