doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title Страница блога
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.min.css")
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")
        link(rel="stylesheet" href="./wp-content/themes/twentytwenty-child/css/swiper-bundle.min.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="wp-content/themes/twentytwenty-child/img/favicon.ico"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

    body.bo
        header.header.header__blogPage
            include ../sections/header/header.pug
        // Psychotherapy
        section.section__blogPage
            .wraper.container__blogPage
                p.min-text__text.min-text__color.blogPage__min-text Психотерапия
                h1.text-center.indivConsul__title Как проходят консультации психолога?
                p.texts.blogPage__text Психолог создает опоры,
                                    |чтобы человек мог пройти путь
                                    |от знакомого и известного - переживания проблемы,
                                    |к новому - знаниям о решении проблемы.
        //END  Psychotherapy
        include ../sections/blogPage/blogPage.pug
        // FORM 
        include ../sections/sectionEight/sectionEight.pug
        // END FORM 
        // Psychologist's blog
        include ../sections/sectionNine/sectionNine.pug
        // END Psychologist's blog
        // FOOTER
        include ../sections/footer/footer.pug
        include ../sections/footer.pug
        