doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title Семейный  психолог в Москве
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.min.css")
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")
        link(rel="stylesheet" href="./wp-content/themes/twentytwenty-child/css/swiper-bundle.min.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="wp-content/themes/twentytwenty-child/img/favicon.ico"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

    body
        header.header
            include ../sections/header/header.pug
        // Family Psychologist
        section.section__indivConsul.indivConsul
            .container
                .bg.bg__family
                    .cnt
                        h1.title Семейный  психолог в Москве
                        h6.sub-title Помогаю пережить кризис в отношениях,
                                        | научиться разрешать конфликты,
                                        | вернуть чувство близости,
                                        | взаимопонимание и доверие,
                                        | укрепить отношения.
                        button.btn.show-modal-3(data-toggle="modal-3") Записаться на приём
        // END Family Psychologist
        include ../sections/familyPsych/familyPsych.pug
        // SLIDER Reviews about me
        include ../sections/sectionSix/sectionSix.pug
        // END SLIDER Reviews about me
        // Prices for services
        include ../sections/sectionSeven/sectionSeven.pug
        // END Prices for services
        // FOOTER
        include ../sections/footer/footer.pug
        include ../sections/footer.pug