doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title Семейный  психолог в Москве
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.min.css")
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")
        link(rel="stylesheet" href="./wp-content/themes/twentytwenty-child/css/swiper-bundle.min.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="wp-content/themes/twentytwenty-child/img/favicon.ico"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

    body.bo
        header.header.header__indivConsul
            include ../sections/header/header.pug
        section.section__indivConsul.indivConsul
            .wraper.container__indivConsul(style='background-image: url("wp-content/themes/twentytwenty-child/img/family1@1x.png");')
                h1.text-center.indivConsul__title Семейный  психолог в Москве
                p.indivConsul__text.texts Помогаю пережить кризис в отношениях,
                                        | научиться разрешать конфликты,
                                        | вернуть чувство близости,
                                        | взаимопонимание и доверие,
                                        | укрепить отношения.
                a.btn.article__btn(href="#openModalThree") 
                    span Записаться на приём
                #openModalThree.modal
                    .modal-dialog
                        .content-modal
                            .modal-header
                                a(href="#close" title="Close").close x
                            form.form.form__modal.form__header-modal
                                h2.mainText.mainText-modal Записаться на приём
                                p.secondText.form__header-text Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время для уточнения деталей
                                .formInput__recording
                                    input.form__input-style.form__input-block(type="text" name='name' placeholder="Ваше имя" required="required")
                                    input.form__input-style.form__input-block(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
                                    a.btn__width.form__header-btn(href="#recordingTwo") 
                                        span Записаться на приём
                                .form__policy.form__header-policy
                                    input.form__checkbox#form__checkboxThree(type="checkbox" checked="")
                                    label.form__pol(for="form__checkboxThree") 
                                        span.modal__policy-link Вы соглашаетесь с 
                                            a.form__policy-link(href="#!") условиями обработки персональных данных
        include ../sections/familyPsych/familyPsych.pug
        include ../sections/sectionSix/sectionSix.pug
        include ../sections/sectionSeven/sectionSeven.pug

        include ../sections/footer/footer.pug
        include ../sections/footer.pug