doctype html
html(lang="ru")
    head
        include ../sections/head.pug
    body
        // header
        header.header.header__fix
            include ../sections/header/header.pug
        // end header
        // первый экран
        include ../sections/head/head.pug
        // END первый экран
        // ABOUT ME
        include ../sections/sectionOne/sectionOne.pug
        // END ABOUT ME
        // sliders Work Experience, Education
        include ../sections/sectionTwo/sectionTwo.pug
        // END sliders Work Experience, Education
        // Why I work as a psychologist
        include ../sections/sectionThree/sectionThree.pug
        // END Why I work as a psychologist
        // Reason to apply
        include ../sections/sectionFour/sectionFour.pug
        // END Reason to apply
        // Types of consultations
        include ../sections/sectionFive/sectionFive.pug
        // END Types of consultations
        // Reviews
        include ../sections/sectionSix/sectionSix.pug
        // END Reviews
        // Cost
        include ../sections/sectionSeven/sectionSeven.pug
        // END Cost
        // form
        include ../sections/sectionEight/sectionEight.pug
        // END form
        // blog
        include ../sections/sectionNine/sectionNine.pug
        // END blog
        // footer
        include ../sections/footer/footer.pug
        include ../sections/footer.pug
        

