doctype html
html(lang="ru")
    head
        include ../sections/head.pug
    body.bo
        
        include ../sections/header/header.pug
        include ../sections/head/head.pug
        //- include ../sections/sectionOne/sectionOne.pug
        //- include ../sections/sectionTwo/sectionTwo.pug
        //- include ../sections/sectionThree/sectionThree.pug
        //- include ../sections/sectionFour/sectionFour.pug
        //- include ../sections/sectionFive/sectionFive.pug
        //- include ../sections/sectionSix/sectionSix.pug
        //- include ../sections/sectionSeven/sectionSeven.pug
        //- include ../sections/sectionEight/sectionEight.pug
        //- include ../sections/sectionNine/sectionNine.pug
        //- include ../sections/footer/footer.pug
        include ../sections/footer.pug
        

