doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title Консультация психолога онлайн
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.min.css")
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")
        link(rel="stylesheet" href="./wp-content/themes/twentytwenty-child/css/swiper-bundle.min.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="wp-content/themes/twentytwenty-child/img/favicon.ico"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

    body
        header.header
            include ../sections/header/header.pug
        // Online psychological consultation
        section.section__indivConsul
            .container
                .bg.bg__onlineConsul
                    .cnt
                        h1.title Консультация психолога онлайн
                        h6.sub-title Помогаю справляться с негативными эмоциями, находить источник спокойствия
                            |и силы в себе, развивать предпочитаемые направления жизни, поддерживать
                            |эмоциональную устойчивость.
                        button.btn.show-modal-3(data-toggle="modal-3") 
                            span Записаться на приём
        // END Online psychological consultation
        include ../sections/onlineConsul/onlineConsul.pug
        // SLIDER Reviews about me
        include ../sections/sectionSix/sectionSix.pug
        // END SLIDER Reviews about me
        // Prices for services
        section.sectionSeven
            .container
                .text-bgc
                    p Стоимость
                h2 Цены на услуги
                .prices__block
                    .prices__content
                        .picture
                            img(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                        .text-bgc
                            p 60 минут
                        h3 Индивидуальная консультация
                        p Консультация одного человека, личный приём в кабинете психолога.
                            strong Стоимость сеанса: 4000 руб.
                    .prices__content
                        .picture
                            img(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                        .text-bgc
                            p 60 минут
                        h3 Онлайн консультация
                        p Личная консультация по скайпу. 
                            strong Стоимость сеанса: 3500 руб.
        // END Prices for services
        // FOOTER
        include ../sections/footer/footer.pug
        include ../sections/footer.pug