doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")

        //- Titles
        title Цены
        meta(name="description" content="")
        meta(name="keywords" content="")

        //- Adaptive
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- Styles
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/css/main.min.css")
        link(rel="stylesheet", href="./wp-content/themes/twentytwenty-child/fonts/fonts.css")
        link(rel="stylesheet" href="./wp-content/themes/twentytwenty-child/css/swiper-bundle.min.css")
        //- Favicons
        link(rel="icon" href="#!" type="image/x-icon") 
        link(rel="shortcut icon" href="wp-content/themes/twentytwenty-child/img/favicon.ico"  type="image/x-icon")
        link(rel="apple-touch-icon" href="#!")

    body
        header.header
            include ../sections/header/header.pug
        // 1 SCREEN
        section.section__pricel.pt
            .container
                h1.title Цены
        // END 1 SCREEN
        include ../sections/price/price.pug
        // Prices for services
        include ../sections/sectionSeven/sectionSeven.pug
        // END Prices for services
        // FOOTER
        include ../sections/footer/footer.pug
        include ../sections/footer.pug