// LOGO
.logo.logo__center
    .logo-logo
        a(href='index.html')
            svg(class="logo__img")
                use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#logo") 
            span.logo__name Частный психолог
//
