/***    LOGO    ***/
.logo {
    margin: 0 auto;
    margin: 0 auto;
    width: 20rem;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    a {
        margin: 0 auto;
        width: 18rem;
    }
    img {
        height: 3.7rem;
        position: relative;
        z-index: 2;
        margin-top: 1.6rem;
    }
    p {
        margin: 0 auto;
        width: 13.9rem;
        height: 1.4rem;
        top: 0;
        left: 1rem;
        position: relative;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 120%;
    }
}
