.logo.logo__center.footer__logo
    a(href='#')
        svg(class="logo__img")
            use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#logo") 
        svg(class="logo__img2")
            use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#logo2") 
        svg(class="logo__img3")
            use(xlink:href="/wp-content/themes/twentytwenty-child/img/icons/sprite.svg#logo2") 
        span.logo__name Частный психолог
