.icons-tel {
    width: 3.8rem;
    height: 3.8rem;
    padding: 0.7rem;
    fill: none; /* заливка */
    stroke: #e89160; /* цвет обводки */
    stroke-width: 0.1rem; /* толщина обводки */
    position: relative;
    z-index: 0;
    border-radius: 50%;
    border: solid 0.1rem #e89160;
}
.phone__img {
    align-self: center;
    z-index: 1;
}
