// СТРАНИЦА ДЕТСКИЙ ПСИХОЛОГ
.container__child {
    background: url("../img/child1@1x-s.jpg");
}
li.txt {
    background: url("../img/icons/spam.svg") no-repeat 0 -0.2rem;
    background-size: 3rem;
    padding: 0rem 0 0.5rem 4rem;
}
li.block__txt-txts {
    background: url("../img/icons/icon.svg") no-repeat 0 0;
    background-size: 2.8rem;
    padding: 0rem 0 0.5rem 4rem;
}
span.txt,
.consul-txt {
    display: block;
}
//
@media screen and(min-width:768px) {
    .container__child {
        background: url("../img/child1@1x-m.jpg");
    }
}
@media screen and(min-width:1024px) {
    .container__child {
        background: url("../img/child1@1x.jpg");
    }
}
