// СТРАНИЦА ДЕТСКИЙ ПСИХОЛОГ
.container__child {
    background: url("../img/child1@1x-s.jpg");
}
//
@media screen and(min-width:768px) {
    .container__child {
        background: url("../img/child1@1x-m.jpg");
    }
}
@media screen and(min-width:1024px) {
    .container__child {
        background: url("../img/child1@1x.jpg");
    }
}
