// Psychologist for children and parents
section
    .about.width.about-indent
        .about__content.about__content-width
            p.min-text__text.min-text__color.about__text Обо мне
            h2.titles.titles-indent.onlineConsul-titles Психолог для детей и родителей
            p.txt-indent 14 лет помогаю детям, подросткам,
                            | родителям справляться с различными трудностями. Преодолевать эмоциональные
                            | проблемы, развивать полезные навыки.
            p.txt-indent Со мной вы можете разделить свои беспокойства и тревоги, связанные с воспитанием ребенка, обсудить сложную семейную ситуацию.
            p.txt-indent Помогаю мамам в периоды эмоциональных спадов. Когда кажется, что зашла в тупик: дети маленькие и со сложностями, муж на работе, помощников и близких подруг нет, сил и хорошего настроения тоже нет.
        include ../../blocks/picture/picture.pug
// END Psychologist for children and parents
// Reason to apply
section.occasion.section__indivConsul
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text Повод обратиться
        h2.titles.advantage__titl.text-center Ситуации, в которых лучше обратиться за консультацией к детскому психологу:
    ul.occasion__block.block__txt 
        li.txt.block__txt-txt  
            span.txt-bold Страх и тревога 
            |часто беспокоят вашего ребенка, мешают его сну, общению, учебе. 
            span.txt-bold Проявляются в физических симптомах 
            |- боль в животе, тошнота, головная боль.
        
        li.txt.block__txt-txt  
            span.txt-bold Проблемы в обучении 
            |имеют постоянный характер и приносят конфликты, тревогу в вашу семью
        li.txt.block__txt-txt  
            span.txt-bold Агрессия, замкнутость
            |, вызывающее поведение, обман и другие проблемы мешают в найти общий язык и понимание.
        li.block__txt-txt.txt 
            span.txt-bold Повышенная активность, 
            |рассеянность, невнимательность мешают развиваться способностям ребенка и отрицательно влияют на его успеваемость
        li.block__txt-txt.txt Повторяющиеся неудачи в отношениях 
            |Ваши отношения с ребенком постоянно омрачают 
            span.txt-bold упрямство, капризы, непослушание
        li.block__txt-txt.txt 
            span.txt-bold Стеснение, робость, 
            |стыд, страх негативной оценки со стороны мешают общению, создают проблемы в обучении
        li.block__txt-txt.txt 
            span.txt-bold Вы переживаете семейный кризис, 
            |развод и эти события отрицательно воздействуют на эмоциональное состояние ребенка.
        li.block__txt-txt.txt 
            span.txt-bold Энурез или энкопрез 
            |(проблемы с туалетом) лишают вашего ребенка многих радостей в жизни.
        li.block__txt-txt.txt У ребенка 
            span.txt-bold часто возникают конфликты 
            |в детском саду или школе со сверстниками, учителями.
        li.block__txt-txt.txt Ребенок 
            span.txt-bold отказывается ходить в детский сад, школу. 
            |Часто болеет, пропускает уроки, просит остаться дома.
// END Reason to apply
// Destinations
section.occasion.section__indivConsul
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text Направления
        h2.titles.advantage__titl.text-center Направления работы детского психолога
    ul.occasion__block.block__txt 
        li.block__txt-txts.block__txt-box.txt
                span.consul-title Консультации психолога для детей
                |Поможет справляться с проблемами в поведении и обучении, со сложными переживаниями в школе, в отношениях со сверстниками, учителями.
        li.block__txt-txts.block__txt-box.txt
                span.consul-title Консультации психолога для подростков
                |Поможет улучшить отношения, сохранить семью, вернуть теплые чувства, уважение и понимание, научиться договариваться, разрешать мирно конфликты.
        li.block__txt-txts.block__txt-box.txt
                span.consul-title Семейные консультации психолога для детей, подростков и родителей
                |Помогут убрать конфликты и непонимание в отношениях с ребенком/подростком, научиться договариваться, вернуть теплые чувства, уважение и понимание.
        li.block__txt-txts.block__txt-box.txt
                span.consul-title Консультация психолога для родителей
                |Помогут найти взаимопонимание с ребенком, способы для решения семейных трудностей, развить навыки помощи ребенку в преодолении проблем, ощущение уверенности в собственных силах.
// END Destinations