// .contacts
.contacts {
    width: 26rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #565b62;
    p {
        padding-left: 5rem;
        line-height: 1.68rem;
        font-size: 1.4rem;
    }
    a {
        font-weight: bold;
        font-size: 1.8rem;
        color: #646c79;
        transition-property: "linear-gradient";
        transition-duration: 0.4s;
        position: relative;
        padding-left: 5rem;
        transition-duration: 0.4s;
        line-height: 25.2px;
        margin-bottom: 0.4rem;
        display: inline-block;
        &::after {
            content: "";
            position: absolute;
            background-image: url("../img/icons/phone.svg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 3.8rem;
            height: 3.8rem;
            top: 0.5rem;
            left: 0;
            visibility: visible;
        }
        &:hover {
            color: #4dc8c0;
            transition-duration: 0.4s;
        }
    }
}
.contact {
    .contacts {
        a {
            &::after {
                top: -0.7rem;
            }
        }
    }
}
