.contacts {
    margin: 0 auto;
    width: 26.3rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-self: baseline;
}
.hamburger__contacts {
    margin-bottom: 2.8rem;
}
.contacts__img-left {
    padding-top: 1rem;
    margin-left: 2rem;
}
@media screen and (min-width: 1120px) {
    .contacts__indent {
        margin-top: 0;
        justify-content: center;
        align-content: center;
    }
    .contacts__img-left {
        position: relative;
    }
}
@media screen and (min-width: 1424px) {
    .contacts__none-desctop {
        display: none;
    }
}
