/*********** HEADER TOP ***************/
.header__fix {
    position: absolute;
    width: 100%;
}
.header {
    width: 100%;
    z-index: 3;

    overflow: hidden;
}
.glav__header {
}
.header__top {
    width: 10%;
    // display: flex;
    // padding-top: 1rem;
    padding: 1.43rem 0 0 0;
    z-index: 0;
    margin-bottom: 5rem;
    position: relative;
}
.tel-none {
    z-index: 1;
}
// a {
//     text-decoration: none;
// }

// #example_1 {
//     border: 1px solid black;
//     display: none;
// }
// .block {
//     display: flex;
//     justify-content: space-between;
//     align-content: center;
// }

// .nav__menu {
//     display: none;
// }

// @media screen and (min-width: 1120px) {
//     .header__top {
//         display: flex;
//         justify-content: center;
//         align-content: center;

//         margin: 0 auto;
//         width: 80%;
//         display: flex;

//         padding-top: 1rem;
//     }
// }
// @media screen and (min-width: 1320px) {
//     .header__top {
//         margin: 0 auto;
//         width: 98%;
//     }
//     .header__top .contacts__indent:nth-child(1) {
//         // flex: 0.6;
//         // order: 2;
//         order: 1;
//     }
//     // .header__top .logo:nth-child(2) {
//     //     flex: 0.6;
//     //     order: 1;
//     // }
//     .header__top .adress__none:nth-child(3) {
//         // flex: 1;
//         order: 0;
//     }
//     .header__top .btn:nth-child(4) {
//         // flex: 0.6;
//         // order: 3;
//         order: 2;
//     }
// }
// @media screen and (min-width: 1420px) {
//     .header__top {
//         margin: 0 auto;
//         width: 80%;
//     }
// }
@media screen and (min-width: 768px) {
    .cont {
        display: flex;
        width: 26.3rem;
        &:hover .numbers {
            color: #4dc8c0;
        }
    }
    .header__top {
        width: 26.3rem;
        margin-bottom: 7rem;
    }
    .header {
        padding: 3.6rem;
    }
}
@media screen and (min-width: 1420px) {
    .header__top {
        margin: 0 auto;
        width: 92%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
    }
    .cont {
        order: 1;
    }
    .adress__none {
        order: 0;
        display: flex;
    }
    .btn__mobail-none {
        order: 2;
    }
    .header {
        padding: 0.5rem 0 4.7rem 0;
    }
}
@media screen and (min-width: 1700px) {
    .header__top {
        width: 82%;
    }
}
