include ../../blocks/logo/logo.pug
.header__top
    .contacts.contacts-mn
        include ../../blocks/contacts/contacts.pug
    .adress__mn.addres
        include ../../blocks/address/address.pug
    button.btn.show-modal-1.btn-mn(data-toggle="modal-1") 
        span Обратный звонок 
include ../../blocks/nav/nav.pug
    

