section.price
    .container.about.width.about-indent
        .about__content.about__content-width
            h2.titles.titles_width.titles-indent Когда нужна консультация психолога?
            p.txt.txt-indent В нашей жизни возникают ситуации, когда мы переживаем негативные чувства, стресс. И не
                            |всегда можно понять, наступил ли тот момент,
                            |когда нужно идти к психологу или мы еще можем справиться сами.
            p.txt.txt-indent Только вы сами можете определить, когда пришло время обращаться за помощью к психологу. Важно понимать, 
                        span.txt-bold что консультация психолога это лучший способ преодоления эмоциональных проблем.
        include ../../blocks/picture/picture.pug