// Psychological consultation in Moscow
section.price.sect
    .about.width.about-indent
        .about__content.about__content-width
            h2.titles.titles_width.titles-indent Консультация психолога в Москве цены и скидки на услуги.
            p.txt-indent Профессиональная психологическая помощь – услуга, которая должна быть доступна каждому. Качественную помощь психолога можно и нужно предоставлять всем, кто в этом нуждается.
            p.txt-indent Мои принципы – применять, когда это возможно, индивидуальные скидки. Поддерживать высокое качество оказываемых услуг психолога. Сохранять справедливые и социально ориентированные цены.
            p.txt-indent Вместе мы подберем оптимальную программу для решения эмоциональных проблем по доступной стоимости.
        include ../../blocks/picture/picture.pug
// END Psychological consultation in Moscow