section.carosel
    .carosel__container
        h2.titles.carosel__titl.text-center Дипломы и сертификаты
        ul.galery-list
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diplom.jpg')
                    img(src="wp-content/themes/twentytwenty-child/img/diploma.png", alt='', width='278', height='170')
                    .img__overlay
                    .eye
                        svg(width='100', height='100')
                            use(xlink:href='wp-content/themes/twentytwenty-child/img/icons/sprite.svg#eye')
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diploms.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma.png', alt='', width='278', height='170')
                    .img__overlay
                    .eye
                        svg(width='100', height='100')
                            use(xlink:href='wp-content/themes/twentytwenty-child/img/icons/sprite.svg#eye')
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diplom.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma.png', alt='', width='278', height='170')
                    .img__overlay
                    .eye
                        svg(width='100', height='100')
                            use(xlink:href='wp-content/themes/twentytwenty-child/img/icons/sprite.svg#eye')
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diploms.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma.png', alt='', width='278', height='170')
                    .img__overlay
                    .eye
                        svg(width='100', height='100')
                            use(xlink:href='wp-content/themes/twentytwenty-child/img/icons/sprite.svg#eye')