section.carosel
    .container
        h2 Дипломы и сертификаты
        ul.galery-list
            li
                a(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diplom@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay
                        img(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")
            li
                a(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diploms@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay
                        img(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")
            li
                a(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diplom@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay
                        img(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")
            li
                a(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diploms@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay
                        img(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")