section.carosel
    .carosel__container
        h2.titles.carosel__titl.text-center Дипломы и сертификаты
        ul.galery-list
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diplom@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay.eye
                        img.eyes(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diploms@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay.eye
                        img.eyes(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diplom@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay.eye
                        img.eyes(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")
            li.galery__item
                a.item__img(data-fslightbox='gallery', href='wp-content/themes/twentytwenty-child/img/diploms@1x.jpg')
                    img(src='wp-content/themes/twentytwenty-child/img/diploma@1x.jpg', alt='Диплом')
                    .img__overlay.eye
                        img.eyes(src='wp-content/themes/twentytwenty-child/img/icons/eye.svg' alt="")