// ARTICLES
section.section__Two.blog__section.sect
        .container
                .blog__wrapper
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                                .text-bgc
                                        p О приёме
                                h3 Как проходят консультации психолога
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
                                .text-bgc
                                        p Психотерапия
                                h3 Что такое нарративная, терапия нарративный подход
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                                .text-bgc
                                        p Детская психология
                                h3 Как помочь ребенку преодолеть капризы и истерики
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                                .text-bgc
                                        p О приёме
                                h3 Как проходят консультации психолога
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
                                .text-bgc
                                        p Психотерапия
                                h3 Что такое нарративная, терапия нарративный подход
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                                .text-bgc
                                        p Детская психология
                                h3 Как помочь ребенку преодолеть капризы и истерики
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                                .text-bgc
                                        p О приёме
                                h3 Как проходят консультации психолога
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
                                .text-bgc
                                        p Психотерапия
                                h3 Что такое нарративная, терапия нарративный подход
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
                        .prices__content
                                .picture
                                        img(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                                .text-bgc
                                        p Детская психология
                                h3 Как помочь ребенку преодолеть капризы и истерики
                                p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                        |к новому - знаниям о решении проблемы.
                                a(href='blog-page.html')
                                        span Читать далее
// END ARTICLES