// ARTICLES
section.section__Two.blog__section
            .container__blog.block__content-flexs
                .flex__block
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                                img.picture-female(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                        p.min-text__text.min-text__color.prices__min-text О приёме
                        h3.titl.prices__titl Как проходят консультации психолога
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                            img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')


                        p.min-text__text.min-text__color.prices__min-text Психотерапия
                        h3.titl.prices__titl Что такое нарративная, терапия нарративный подход
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                            img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                        p.min-text__text.min-text__color.prices__min-text Детская психология
                        h3.titl.prices__titl Как помочь ребенку преодолеть капризы и истерики
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                                img.picture-female(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                        p.min-text__text.min-text__color.prices__min-text О приёме
                        h3.titl.prices__titl Как проходят консультации психолога
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                            img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
                        p.min-text__text.min-text__color.prices__min-text Психотерапия
                        h3.titl.prices__titl Что такое нарративная, терапия нарративный подход
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                            img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                        p.min-text__text.min-text__color.prices__min-text Детская психология
                        h3.titl.prices__titl Как помочь ребенку преодолеть капризы и истерики
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                            img.picture-female(src='wp-content/themes/twentytwenty-child/img/imgFive.jpg', alt='Мужчина')
                        p.min-text__text.min-text__color.prices__min-text О приёме
                        h3.titl.prices__titl Как проходят консультации психолога
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                            img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeFour.jpg', alt='Консультация')
                        p.min-text__text.min-text__color.prices__min-text Психотерапия
                        h3.titl.prices__titl Что такое нарративная, терапия нарративный подход
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                        a(href='blog-page.html').txt.txt__blog Читать далее
                    .block__content.block__content-blog
                        .picture.prices__picture.prices__width
                            img.picture-female(src='wp-content/themes/twentytwenty-child/img/adventigeTwo.jpg', alt='Девушка')
                        p.min-text__text.min-text__color.prices__min-text Детская психология
                        h3.titl.prices__titl Как помочь ребенку преодолеть капризы и истерики
                        p.txt.blog__txt Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                
                        a(href='blog-page.html').txt.txt__blog Читать далее
// END ARTICLES