.texts {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #828282;
    text-align: center;
}
@media screen and (min-width: 620px) {
    .text_width {
        width: 46rem;
    }
}
@media screen and (min-width: 768px) {
    .texts {
        font-size: 2.4rem;
        line-height: 3.3rem;
    }
    .text_width {
        width: 63.3rem;
    }
}
