// When you need to consult a psychologist on Skype
section.section__one
        .container
                .about
                        .about__content
                                .text-bgc
                                        p Отзывы обо мне
                                h2  Когда нужна консультация психолога по скайпу?
                                p Если вы переживаете тяжелые моменты в жизни, 
                                        |испытываете тревогу, стресс, душевное волнение, 
                                        |вас беспокоят страхи, проблемы в отношениях, 
                                        |сложности в семье или на работе, но вы пока не 
                                        |решаетесь посетить психолога лично, или там где 
                                        |вы живете не нашли хороших специалистов – вам поможет 
                                        |консультация психолога по скайпу.
                        include ../../blocks/picture/picture.pug
// END When you need to consult a psychologist on Skype
// Advantages
section.occasion.sect__occasion
        .container
                .text-bgc
                        p Преимущества
                h2 Преимущества консультация психолога онлайн
                ul.occasion__block.occasion__box
                        li
                                h3 Анонимность и конфиденциальность
                                |Многие люди не ходят к психологу из-за стеснительности
                                | и потому что испытывают стыд и тревогу, когда нужно 
                                |рассказывать о некоторых событиях из своей жизни во 
                                |время личной встречи. Анонимность онлайн беседы с 
                                |психологом ослабляет стыд и тревогу, помогает говорить 
                                |более открыто, не скрывая деталей. Это делает консультацию более эффективной.
                                |Консультация психолога по скайпу позволяет сохранить 
                                |больший уровень конфиденциальности, чем при личной терапии, 
                                |так как, по вашему желанию, психолог может не видеть вас, 
                                |а слышать только голос, называть вас по вымышленному имени.
                        li
                                h3 Качество и профессионализм
                                |Через интернет мы можете найти профессионального психолога, 
                                |который имеет высокий уровень образования, богатый практический 
                                |опыт и использует современные и эффективные методы работы. 
                                |Если вы живете в городе, где сложно найти хорошего психолога, 
                                |консультация онлайн дает возможность получить профессиональную и 
                                |качественную психологическую помощь.
                        li
                                h3 Комфорт и удобство
                                | Общение с психологом через Интернет предлагает людям наибольшую 
                                |степень комфорта и удобства. Вы можете консультироваться у психолога 
                                |в удобное для вас время, и в комфортном для вас месте. 
                                |Не тратя время на дорогу, без ожидания из любого места России или мира.
                                |Выбирайте удобный для себя способ общения с психологом. 
                                |Это может быть разговор, чат с использованием программы скайп, 
                                |whatsapp, или переписка с психологом по е-mail – три письма с ответами,
                                | соответствуют одной консультации психолога по скайпу.
                        li
                                h3 Экономическая выгода
                                |Консультация психолога онлайн хороший выбор не только из-за высокого
                                | уровня конфиденциальности, профессионализма и комфорта, 
                                |но и из-за экономических преимуществ, которые предлагаются клиенту
                                |Стоимость 1 консультации психолога онлайн 3500 рублей.
                                |Цена 1 личной консультации 4000 рублей. Консультации психолога 
                                |онлайн стоят меньше по сравнению с личной терапией. Это связано с тем,
                                | что вы платите только за время, которое вы проводите с психологом, и в 
                                |цену консультации не входят расходы на аренду кабинета.
// END Advantages
// Reason to apply
section.occasion
        .container
                .text-bgc
                        p  Повод обратиться
                h2 Психолог поможет, если вы чувствуете что:
                ul.occasion__block 
                        li 
                                strong Чувство вины и самокритика 
                                |управляют вашими решениями, не дают сказать нет, 
                                |нарушают спокойствие, вызывают
                                |глубокую тревогу.
                        li 
                                strong Низкая самооценка 
                                |создает неуверенность в себе, мешает достигать цели, воплощать 
                                |ваши мечты, препятствует серьезным отношениям.
                        li 
                                strong Апатия, отсутствие надежды 
                                |начинают подавлять вас. 
                                |Жизнь кажется бессмысленной, возникают мысли о смерти.
                        li 
                                strong Боль после расставания 
                                |не уменьшается, вы испытываете горечь одиночества,
                                |предательства, чувствуете себя
                                |непонятым и отвергнутым.
                        li 
                                strong Повторяющиеся неудачи в отношениях
                                |, лишают вас надежды найти спутника жизни.
                        li 
                                strong Стеснение
                                |, робость, стыд, 
                                strong страх негативной оценки со стороны 
                                |вызывают проблемы в общении, портят отношения с людьми, которые вас окружают.
                        li 
                                strong Находитесь в тупике
                                |, не знаете куда двигаться дальше.
                        li 
                                strong Тревога, постоянное беспокойство
                                |, панические состояния, страхи мешают жизни.
// END Reason to apply
