// СТРАНИЦА ОНЛАЙН КОНСУЛЬТАЦИЯ
.bg__onlineConsul {
    background: url("../img/onlain1@x1-s.jpg");
    padding: 4rem 0;
    @media (min-width: 768px) {
        background: url("../img/onlain1@x1-m.jpg");
    }

    @media (min-width: 1024px) {
        background: url("../img/onlain1@x1.jpg");
        padding: 11.1rem 0 7.2rem 0;
    }
}
//
