// Семейный психолог
.bg__family {
    background: url("../img/family1@1x-s.jpg");
    padding: 11.1rem 0 6.4rem 0;
    @media (min-width: 768px) {
        background: url("../img/family1@1x-m.jpg");
    }
    @media (min-width: 1024px) {
        background: url("../img/family1@1x.jpg");
    }
}
.your-psychologist {
    padding-bottom: 4rem;
    @media (min-width: 1450px) {
        padding-bottom: 8rem;
    }
}
.aboutMe-family {
    padding-top: 0;
    .about {
        padding-top: 0;
    }
    .aboutMe-about {
        .about__content {
            @media (min-width: 1450px) {
                max-width: 90rem;
            }
        }
        .pictures {
            @media (min-width: 1450px) {
                max-width: 46.8rem;
            }
        }
    }
}
//
