// Your family psychologist
section.your-psychologist
        .container
                .about
                        .about__content
                                .text-bgc
                                        p Обо мне
                                h2 Ваш семейный психолог
                                p 16 лет помогаю семьям и парам справляться с непониманием, недоверием, отчуждением, ревностью, конфликтами, возвращать доверие и близость в отношения.
                                p Со мной вы можете разделить свои беспокойства, обсудить сложную семейную ситуацию.
                                p Любовь, доверие, поддержка, уважение – то что ищут люди в отношениях с любимыми, родителями, детьми, друзьями. Вся наша жизнь состоит из отношений, мы взаимосвязаны друг с другом. Одни отношения нас поддерживают, вдохновляют, делают счастливыми, другие приносят боль и разочарование.
                                p Консультации семейного психолога нужны в те моменты, когда необходимо разрешать сложности, конфликты и находить путь к общему благополучию, но собственных ресурсов недостаточно.
                        include ../../blocks/picture/picture.pug
// END Your family psychologist
// Reason to apply
section.occasion
    .container
        .text-bgc
                p Повод обратиться
        h2 Ситуации, когда лучше обратиться за консультацией к семейному психологу:
        ul.occasion__block 
                li 
                        strong Доверие уменьшилось,
                        |или полностью разрушено
                li 
                        strong Разногласия 
                        |становятся все более частыми, перерастают в взаимные обвинения и ссоры
                li 
                        strong Общение стало ограниченным 
                        |или плохим
                li 
                        strong Конфликты 
                        |выходят из-под контроля, скандалы разрушают отношения
                li 
                        strong Эмоциональная близость уменьшилась 
                        |или исчезла
                li Вы чувствуете, что 
                        strong попали в ловушку 
                        |повторяющегося поведения, которое приносит страдания
                li 
                        strong Чувствуете себя униженным, подавленным, 
                        |вам приходится постоянно оправдываться, переживаете чувство вины, ощущение себя "ниже плинтуса"
                li 
                        strong Ваш партнер постоянно контролирует, обвиняет, 
                        |критикует, обесценивает ваши мысли и поступки, пытается изменить ваше поведение, ограничивает свободу
                li 
                        strong Рутина и монотонность 
                        |в отношениях приводят к разочарованию
                li Появились 
                        strong проблемы в физической близости
                li Чувствуете, что между вами 
                        strong появилось отчуждение
                li Появилось подозрение на 
                        strong неверность партнера
// END Reason to apply
// What to give family and marriage counseling
section.aboutMe.aboutMe-family
        .container
                .about
                        .about__content
                                h2 Что дают консультации семейного психолога?
                                p Разногласия в паре неизбежны, так как жизнь в паре (супружеская или нет), в связи с набором совместных обязанностей, является одним из самых стрессовых жизненных переживаний, которые существуют. Источников стресса много: распределение обязанностей в семье, денег, воспитание детей, секс, разделение времени между потребностями семьи и внешними потребностями (карьера, родственники, друзья, отдых). Эти разногласия становятся конфликтами, когда супруги нападают, или подвергают сомнению способ жизни своего партнера. Может возникнуть чувство истощения, незаинтересованности и непонимания, что приводит к менее плавному общению или дистанцированию. Успех парной терапии заключается в желании каждого продолжать быть в паре.
                        .picture
                                img(src='wp-content/themes/twentytwenty-child/img/family2.jpg', alt='Мужчина с девушкой')
                .about.aboutMe-about
                        .about__content
                                p В случаях, когда простые разногласия становятся конфликтами, даже когда событие, которое вызывает конфликт, является банальным (мытье посуды сразу после еды или позже) вызывает сильную эмоциональную реакцию. Важно отметить, что вторичные эмоции - это те, которые выражаются в спорах, то есть эмоции, вызванные реакцией на первичные эмоции, которые трудно переносить. Эти вторичные эмоции являются защитой, которая служит для подавления или избежания первичных эмоций. Вторичные эмоции часто являются агрессией или уходом от ситуации, в то время как первичные эмоции - это более примитивные эмоции, такие как грусть, страх быть раненными.
                                p Консультация семейного психолога направлена, прежде всего, на то, чтобы помочь паре оставить свои атаки друг на друга, чтобы создать благоприятный контекст для выражения основных эмоций и, следовательно, способствовать лучшему общению. Семейный психолог помогает восстанавливать адекватное общение между партнерами, создавать условия, чтобы отношения снова были хорошими и обогащающими.
                                p Семейный психолог помогает паре отойти в сторону от конфликта, увидеть, понять и изменить механизмы, которые приводят к недопониманиям и спорам.
                        .pictures.picture
                                img(src='wp-content/themes/twentytwenty-child/img/family3.jpg', alt='Мужчина с девушкой')
// END What to give family and marriage counseling
// Result
section.occasion
        .container
                .text-bgc
                        p Результат
                h2 Консультация семейного психолога поможет:
                ul.occasion__block.occasion__box
                        li
                                h3 Разрешать конфликты
                                |И создавать новые стратегии для решения проблем
                        li
                                h3 Управлять негативными эмоциями
                                |Поможет улучшить отношения, сохранить семью, вернуть теплые чувства, уважение и понимание, научиться договариваться, разрешать мирно конфликты.
                        li
                                h3 Освободиться от эмоциональной зависимости
                                |А также выйти из отношений, в которых присутствует эмоциональное насилие
                        li
                                h3 Лучше понимать себя, другого и отношения
                                |Изменить шаблоны поведения, которые не дают желаемых результатов
// END Result