// Your family psychologist
section
    .about.width.about-indent
        .about__content.about__content-width
            p.min-text__text.min-text__color.about__text Обо мне
            h2.titles.titles-indent.onlineConsul-titles Ваш семейный психолог
            p.txt.txt-indent 16 лет помогаю семьям и парам справляться с непониманием, недоверием, отчуждением, ревностью, конфликтами, возвращать доверие и близость в отношения.
            p.txt.txt-indent Со мной вы можете разделить свои беспокойства, обсудить сложную семейную ситуацию.
            p.txt.txt-indent Любовь, доверие, поддержка, уважение – то что ищут люди в отношениях с любимыми, родителями, детьми, друзьями. Вся наша жизнь состоит из отношений, мы взаимосвязаны друг с другом. Одни отношения нас поддерживают, вдохновляют, делают счастливыми, другие приносят боль и разочарование.
            p.txt.txt-indent Консультации семейного психолога нужны в те моменты, когда необходимо разрешать сложности, конфликты и находить путь к общему благополучию, но собственных ресурсов недостаточно.
        include ../../blocks/picture/picture.pug
// END Your family psychologist
// Reason to apply
section.occasion.section__indivConsul
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text Повод обратиться
        h2.titles.advantage__titl.text-center Ситуации, когда лучше обратиться за консультацией к семейному психологу:
    ul.occasion__block.block__txt 
        li.block__txt-txt.txt 
                span.txt-bold Доверие уменьшилось,
                |или полностью разрушено
        li.block__txt-txt.txt 
                span.txt-bold Разногласия 
                |становятся все более частыми, перерастают в взаимные обвинения и ссоры
        li.block__txt-txt.txt 
                span.txt-bold Общение стало ограниченным 
                |или плохим
        li.block__txt-txt.txt 
                span.txt-bold Конфликты 
                |выходят из-под контроля, скандалы разрушают отношения
        li.block__txt-txt.txt 
                span.txt-bold Эмоциональная близость уменьшилась 
                |или исчезла
        li.block__txt-txt.txt Вы чувствуете, что 
                span.txt-bold попали в ловушку 
                |повторяющегося поведения, которое приносит страдания
        li.block__txt-txt.txt 
                span.txt-bold Чувствуете себя униженным, подавленным, 
                |вам приходится постоянно оправдываться, переживаете чувство вины, ощущение себя "ниже плинтуса"
        li.block__txt-txt.txt 
                span.txt-bold Ваш партнер постоянно контролирует, обвиняет, 
                |критикует, обесценивает ваши мысли и поступки, пытается изменить ваше поведение, ограничивает свободу
        li.block__txt-txt.txt 
                span.txt-bold Рутина и монотонность 
                |в отношениях приводят к разочарованию
        li.block__txt-txt.txt Появились 
                span.txt-bold проблемы в физической близости
        li.block__txt-txt.txt Чувствуете, что между вами 
                span.txt-bold появилось отчуждение
        li.block__txt-txt.txt Появилось подозрение на 
                span.txt-bold неверность партнера
// END Reason to apply
// What to give family and marriage counseling
section
    .about.width.about-indent
        .about__content.about__content-width
            h2.titles.titles-indent.onlineConsul-titles Что дают консультации семейного психолога?
            p.txt.txt-indent Разногласия в паре неизбежны, так как жизнь в паре (супружеская или нет), в связи с набором совместных обязанностей, является одним из самых стрессовых жизненных переживаний, которые существуют. Источников стресса много: распределение обязанностей в семье, денег, воспитание детей, секс, разделение времени между потребностями семьи и внешними потребностями (карьера, родственники, друзья, отдых). Эти разногласия становятся конфликтами, когда супруги нападают, или подвергают сомнению способ жизни своего партнера. Может возникнуть чувство истощения, незаинтересованности и непонимания, что приводит к менее плавному общению или дистанцированию. Успех парной терапии заключается в желании каждого продолжать быть в паре.
        .picture.picture__width.picture__indent.picture__about
            img.picture-female.img__block(src='wp-content/themes/twentytwenty-child/img/family2.jpg', alt='Мужчина с девушкой')
    .about.width.about-indent.familyPsych-block
        .familyPsych__content-width
            p.txt.txt-indent В случаях, когда простые разногласия становятся конфликтами, даже когда событие, которое вызывает конфликт, является банальным (мытье посуды сразу после еды или позже) вызывает сильную эмоциональную реакцию. Важно отметить, что вторичные эмоции - это те, которые выражаются в спорах, то есть эмоции, вызванные реакцией на первичные эмоции, которые трудно переносить. Эти вторичные эмоции являются защитой, которая служит для подавления или избежания первичных эмоций. Вторичные эмоции часто являются агрессией или уходом от ситуации, в то время как первичные эмоции - это более примитивные эмоции, такие как грусть, страх быть раненными.
            p.txt.txt-indent Консультация семейного психолога направлена, прежде всего, на то, чтобы помочь паре оставить свои атаки друг на друга, чтобы создать благоприятный контекст для выражения основных эмоций и, следовательно, способствовать лучшему общению. Семейный психолог помогает восстанавливать адекватное общение между партнерами, создавать условия, чтобы отношения снова были хорошими и обогащающими.
            p.txt.txt-indent Семейный психолог помогает паре отойти в сторону от конфликта, увидеть, понять и изменить механизмы, которые приводят к недопониманиям и спорам.
        .picture.picture__width.picture__indent.picture__familyPsych
            img.picture-female.img__block(src='wp-content/themes/twentytwenty-child/img/family3.jpg', alt='Мужчина с девушкой')
// END What to give family and marriage counseling
// Result
section.occasion.section__indivConsul
    .width.advantage.advantage__indent
        p.min-text__text.min-text__color.advantage__text Результат
        h2.titles.advantage__titl.text-center Консультация семейного психолога поможет:
    ul.occasion__block.block__txt 
        li.block__txt-txts.block__txt-box
                i.consul-title Разрешать конфликты
                span.txt И создавать новые стратегии для решения проблем
        li.block__txt-txts.block__txt-box
                i.consul-title Управлять негативными эмоциями
                span.txt Поможет улучшить отношения, сохранить семью, вернуть теплые чувства, уважение и понимание, научиться договариваться, разрешать мирно конфликты.
        li.block__txt-txts.block__txt-box
                i.consul-title Освободиться от эмоциональной зависимости
                span.txt А также выйти из отношений, в которых присутствует эмоциональное насилие
        li.block__txt-txts.block__txt-box
                i.consul-title Лучше понимать себя, другого и отношения
                span.txt Изменить шаблоны поведения, которые не дают желаемых результатов
// END Result