// Contact information
section.section__contacts
    .container__contacts
        h1.title.text-center.contacts__title Контактная информация
// END Contact information
// Make an appointment
section.contact
    .contact__container.contact__container-top
        .contact__contacts
            h2.titles.contact__titles Запишитесь на приём любым удобным способом
            p.txt.contact__txt Консультации психолога проходят в офисе, который находится рядом со станцией метро
                |Московская (5 минут пешком).
            p.txt.contact__txt-bottom Записаться или задать любой вопрос о косультациях вы можете по телефону, в мессенджерах, по почте или просто заполнив форму на сайте.
            .contact__addr.contact__contact
                .adress__img
                    a(href='#map')
                        svg(class="address__icons2")
                            use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#location")
                .contact__addres
                    a(href='#map').adress__text.adress__text-bold пр. Ленина, д.45, оф. 15
            .contact__phone.contact__contact
                .phone__img
                    a(href="tel:+78001201204")
                        svg(class="icons-tel")
                            use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#phone")
                .tel__contact
                    a.numbers(href="tel:+78001201204") + 7 800 120-12-04
            include ../../blocks/email/email.pug
            
        .contact__map.map.container-fluid#map_container
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad956b6cd9e6758097f9d9e1c492a14ce98dd6a22c4efdd6433b15a7c18adf3b6&amp;width=500&amp;height=450&amp;lang=ru_RU&amp;scroll=true")
// END Make an appointment
// Important information
section.info
        h2.titles.info__titl Важная информация
        .contact__container.contact__container-bottom
            .contact__contacts
                p.txts.contact__txts Факт вашего обращения является анонимным и конфиденциальным.
                p.txt.contact__txt Для очных консультаций существует правило отмены — встреча может быть отменена или перенесена не менее чем за 24 часа до предполагаемого времени начала сеанса, выбранного по общей договоренности. При более поздней отмене пропущенный сеанс оплачивается. В случае несвоевременного предупреждения об отмене или переносе встречи с моей стороны я обязуюсь предоставить ближайшую встречу бесплатно.
            .contact__contacts
                p.txt.contact__txt Если вы опаздываете к назначенному времени, наша встреча укорачивается на длину вашего опоздания. Если у меня есть возможность, я стараюсь скомпенсировать вам время вашего опоздания на 5-7 минут. Но, в любом случае, с наступлением следующего часа мы заканчиваем.
                p.txt.contact__txt Если мы договорились о долгосрочной работе, для вас стоимость консультаций становится фиксированной и не может быть повышена ранее, чем через 2 года, а также больше, чем на процент инфляции — за 2 года это 20%.
// END Important information
// FORM
section.contact__form 
        .form__width
            form.form__displiy
                h2.mainTexts Запись на приём
                p.secondTexts Заполните форму и я перезвоню вам для уточнения удобного для вас времени
                .formInput.formInput-flex
                    span
                    input.form__input-style.form__input-block(type="text" name='name' placeholder="Ваше имя" required="required")
                    input.form__input-style.form__input-block(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
                    a.btn.btn__width.form__btn-bottom(href="#open") 
                        span Запись на консультацию
                .head__form-policy
                    input.form__checkbox#form__checkboxFour(type="checkbox" checked="")
                    label.form__pol(for="form__checkboxFour") 
                        span.form__policy-links Вы соглашаетесь с 
                            a.form__policy-link(href="#!") условиями обработки персональных данных
// END FORM