// Contact information
section.section__contacts
    .container__contacts
        h1.title Контактная информация
// END Contact information
// Make an appointment
section.contact
    .container
        .contact__container
            .contact__contacts
                h2 Запишитесь на приём любым удобным способом
                p Консультации психолога проходят в офисе, который находится рядом со станцией метро 
                    |Московская (5 минут пешком).
                p Записаться или задать любой вопрос о косультациях вы можете по телефону, в мессенджерах, по почте или просто заполнив форму на сайте.
                .addres 
                    a(href='contacts.html#map') пр. Ленина, д.45, оф. 15
                .contacts 
                    a(href="tel:+78001201204") + 7 800 120-12-04
                include ../../blocks/email/email.pug
            
            .contact__map.map#map
                script(type="text/javascript" charset="utf-8" defer src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0d3951eeb33b1c6d7de4ccaaa2e590ad74b4a9f818436051fda3d506a54424a&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true?speed=0")
// END Make an appointment
// Important information
section.info
    .container
        h2 Важная информация
        .contact__container
            .contact__contacts
                p 
                    strong Факт вашего обращения является анонимным и конфиденциальным.
                p Для очных консультаций существует правило отмены — встреча может быть отменена или перенесена не менее чем за 24 часа до предполагаемого времени начала сеанса, выбранного по общей договоренности. При более поздней отмене пропущенный сеанс оплачивается. В случае несвоевременного предупреждения об отмене или переносе встречи с моей стороны я обязуюсь предоставить ближайшую встречу бесплатно.
            .contact__contacts
                p Если вы опаздываете к назначенному времени, наша встреча укорачивается на длину вашего опоздания. Если у меня есть возможность, я стараюсь скомпенсировать вам время вашего опоздания на 5-7 минут. Но, в любом случае, с наступлением следующего часа мы заканчиваем.
                p Если мы договорились о долгосрочной работе, для вас стоимость консультаций становится фиксированной и не может быть повышена ранее, чем через 2 года, а также больше, чем на процент инфляции — за 2 года это 20%.
// END Important information
// FORM
section.contact-form
    .container
        .form-box
            form.form
                h5.form__title Запись на приём
                p Заполните форму и я перезвоню вам для уточнения удобного для вас времени
                .box-input
                    input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                    input._req.phone-input(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
                    button.btn-send Запись на консультацию
                .form__policy
                    input._req#form2(type="checkbox" checked="")
                    label(for="form2") Вы соглашаетесь с 
                        a(href="#!" target="_blank") условиями обработки персональных данных
// END FORM