section.sectionTwo
    .container
        .education
            .education__box.education__boxs
                h2 Образование
                p Постоянно 
                    strong повышаю уровень образования: 
                    |учусь на семинарах и тренингах у лучших российских и зарубежных преподавателей;
                    |развиваю проф. навыки в ежедневной практике психологического консультирования и психотерапии.
                include ../../blocks/slider/slider.pug
            .education__box
                h2 Опыт работы
                p Постоянно 
                    strong повышаю уровень образования: 
                    |учусь на семинарах и тренингах у лучших российских и зарубежных преподавателей;
                    |развиваю проф. навыки в ежедневной практике психологического консультирования и психотерапии.
                .education-sliders.swiper-container
                    .swiper-wrapper.swiper__content
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        h3 с 2014
                                        p Центр нарративной психологии и практики 
                                        p 
                                            strong Должность: 
                                            | директор
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        h3 2009-2012
                                        p ГОУ Центр психолого-педагогической реабилитации «Пресненский» г. Москвы
                                        p 
                                            strong Должность: 
                                            | психолог
                                    
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        h3 с 2014
                                        p Центр нарративной психологии и практики 
                                        p 
                                            strong Должность: 
                                            | директор
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        h3 2009-2012
                                        p ГОУ Центр психолого-педагогической реабилитации «Пресненский» г. Москвы
                                        p 
                                            strong Должность: 
                                            | психолог
                            .swiper-slide.swiper-slide-width
                                .slider__contant
                                    h3 с 2014
                                    p Центр нарративной психологии и практики 
                                    p 
                                            strong Должность: 
                                            | директор
                            .swiper-slide.swiper-slide-width
                                .slider__contant
                                    h3 2009-2012
                                    p ГОУ Центр психолого-педагогической реабилитации «Пресненский» г. Москвы
                                    p 
                                            strong Должность: 
                                            | психолог
                .arow
                    .swiper-buton.swiper-buton-rights
                    .swiper-buton.swiper-buton-lefts