// section ОБРАЗОВАНИЕ И ОПЫТ РАБОТЫ
.sectionTwo {
    padding-top: 4.7rem;
    @media (min-width: 768px) {
        padding-bottom: 7rem;
    }
    @media (min-width: 1120px) {
        padding-bottom: 10rem;
    }
    .education {
        min-width: 0;
        @media (min-width: 1520px) {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
    }
    .education__boxs {
        margin-bottom: 7rem;
        @media (min-width: 1520px) {
            margin-bottom: 0;
        }
    }
    .education__box {
        @media (min-width: 1520px) {
            width: 49%;
        }
    }
    h2 {
        margin-bottom: 2rem;
        @media (min-width: 1520px) {
            margin-bottom: 3rem;
        }
    }
}
//
