section.sectionTwo.sectionTwo-indent
    .aboutTwo.aboutTwo-width
        .education
            .education__box.education__boxs
                h2.titles.titles_width.titles-indent Образование
                p.txt.txt-indent Постоянно 
                                span.txt-bold повышаю уровень образования: 
                                |учусь на семинарах и тренингах у лучших российских и зарубежных преподавателей;
                                |развиваю проф. навыки в ежедневной практике психологического консультирования и психотерапии.
                include ../../blocks/slider/slider.pug
            .education__box
                h2.titles.titles_width.titles-indent Опыт работы
                p.txt.txt-indent Постоянно 
                                span.txt-bold повышаю уровень образования: 
                                |учусь на семинарах и тренингах у лучших российских и зарубежных преподавателей;
                                |развиваю проф. навыки в ежедневной практике психологического консультирования и психотерапии.
                
                .education-sliders.swiper-container.education-slider-indent
                    .swiper-wrapper.swiper__content
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        p.slider__text.slider__text-bold с 2014
                                        p.slider__text Центр нарративной психологии и практики 
                                        p.slider__text Должность: директор
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        p.slider__text.slider__text-bold 2009-2012
                                        p.slider__text ГОУ Центр психолого-педагогической реабилитации «Пресненский» г. Москвы
                                        p.slider__text Должность: психолог
                                    
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        p.slider__text.slider__text-bold с 2014
                                        p.slider__text Центр нарративной психологии и практики 
                                        p.slider__text Должность: директор
                            .swiper-slide.swiper-slide-width
                                    .slider__contant
                                        p.slider__text.slider__text-bold 2009-2012
                                        p.slider__text ГОУ Центр психолого-педагогической реабилитации «Пресненский» г. Москвы
                                        p.slider__text Должность: психолог
                            .swiper-slide.swiper-slide-width
                                .slider__contant
                                    p.slider__text.slider__text-bold с 2014
                                    p.slider__text Центр нарративной психологии и практики 
                                    p.slider__text Должность: директор
                            .swiper-slide.swiper-slide-width
                                .slider__contant
                                    p.slider__text.slider__text-bold 2009-2012
                                    p.slider__text ГОУ Центр психолого-педагогической реабилитации «Пресненский» г. Москвы
                                    p.slider__text Должность: психолог
                .arow
                    a.swiper-buton.swiper-buton-rights
                        svg(class="arrows")
                            use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#arrow-right") 
                    a.swiper-buton.swiper-buton-lefts
                        svg(class="arrows")
                            use(xlink:href="wp-content/themes/twentytwenty-child/img/icons/sprite.svg#arrow-left") 

        