section.sectionTwo.sectionTwo-indent
    .aboutTwo.aboutTwo-width
        .education
            .education__box
                h2.titles.titles_width.titles-indent Образование
                p.txt.txt-indent Постоянно 
                                span.txt-bold повышаю уровень образования: 
                                |учусь на семинарах и тренингах у лучших российских и зарубежных преподавателей;
                                |развиваю проф. навыки в ежедневной практике психологического консультирования и психотерапии.
                include ../../blocks/slider/slider.pug
            .education__box
                h2.titles.titles_width.titles-indent Опыт работы
                p.txt.txt-indent Постоянно 
                                span.txt-bold повышаю уровень образования: 
                                |учусь на семинарах и тренингах у лучших российских и зарубежных преподавателей;
                                |развиваю проф. навыки в ежедневной практике психологического консультирования и психотерапии.
                include ../../blocks/slider/slider.pug