// section ОБРАЗОВАНИЕ И ОПЫТ РАБОТЫ
.aboutTwo-width {
    margin: 0 auto;
    width: 82%;
}
.txt-bold {
    font-weight: bold;
}
// для слайдера
.education {
    min-width: 0;
}
.education__boxs {
    margin-bottom: 7rem;
}
@media screen and (min-width: 1020px) {
    .sectionTwo-indent {
        margin-top: 10rem;
    }
}
@media screen and (min-width: 1520px) {
    .education {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .education__box {
        width: 49%;
    }
    .education__boxs {
        margin-bottom: 0;
    }
}
//
