form.form.form__modal.form__header-modal
    h2.mainText.mainText-modal Перезвонить вам?
    p.secondText.form__header-text Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время
    .formInput
        //-     span
        input.form__input-style.modal__phone(type="text" name="user-phone" placeholder="Ваш номер телефона" required="required")
    a.btn__width.form__header-btn(href="#open") Перезвонить мне
    .form__policy.form__header-policy
        input.form__checkbox#modal__checkbox(type="checkbox" checked="")
        label.form__pol(for="modal__checkbox") 
            span.modal__policy-link Вы соглашаетесь с 
                a.form__policy-link(href="#!") условиями обработки персональных данных
                //- span.modal__policy-link Вы соглашаетесь с 
                //- a.form__policy-link(href="#!") условиями обработки персональных данных