// section Почему я работаю психологом?
.sectionThree {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    padding-bottom: 5rem;
    @media (min-width: 768px) {
        padding-bottom: 7rem;
    }
    @media (min-width: 1120px) {
        padding-bottom: 10rem;
    }
    .bg {
        background: url("../img/why-s.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        height: auto;
        padding: 2.6rem 2rem 4.6rem 2rem;
        @media (min-width: 768px) {
            background: url("../img/why-m.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 3rem 2.2rem 6.2rem 2.2rem;
        }
        @media (min-width: 1360px) {
            background: url("../img/why-l.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 4rem 40rem 8.2rem 40rem;
        }
    }
    h2 {
        margin-bottom: 2rem;
        @media (min-width: 1360px) {
            margin-bottom: 3rem;
        }
    }
}

//
