section.sectionThree
    .container 
        .bg
            h2 Почему я работаю психологом?
            p Когда я вижу, как с помощью психотерапии, люди избавляются от груза проблем, осуществляют свои мечты. Понимаю, что не напрасно выбрала профессию психолога, вкладываю в эту работу много времени, сил и энергии.
    