section.sectionThree
    .width.bg(style='background-image: url("wp-content/themes/twentytwenty-child/img/why.png");')
        h2.titles.titles-indent.text-center Почему я работаю психологом?
        p.txt.txt-indent.txt-width.text-center Когда я вижу, как с помощью психотерапии, люди избавляются от груза проблем, осуществляют свои мечты. Понимаю, что не напрасно выбрала профессию психолога, вкладываю в эту работу много времени, сил и энергии.
    