section.sectionNine
    .blog-width.blog.prices__indent
        p.min-text__text.min-text__color.reviews__text-width.min__text-center Блог психолога
        h2.titles.titles-indent.text-center Полезные статьи
        .flex__blocks
            .block__content.block__content-flex
                .picture.picture__indent.prices__width
                    img.picture-female(src="/wp-content/themes/twentytwenty-child/img/imgFive.png", alt="")
                p.min-text__text.min-text__color.blog__one-width.min-text__indent О приёме
                h3.titl.titles-indent Как проходят консультации психолога
                p.txt.txt-indent Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                a(href='#').txt.txt-indent.txt__blog Читать далее
            .block__content.block__content-flex
                .picture.picture__indent.prices__width
                    img.picture-female(src="/wp-content/themes/twentytwenty-child/img/adventigeFour.png", alt="")
                p.min-text__text.min-text__color.blog__two-width.min-text__indent Психотерапия
                h3.titl.titles-indent Что такое нарративная, терапия нарративный подход
                p.txt.txt-indent Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                a(href='#').txt.txt-indent.txt__blog Читать далее
            .block__content.block__content-flex
                .picture.picture__indent.prices__width
                    img.picture-female(src="/wp-content/themes/twentytwenty-child/img/dubl.png", alt="")
                p.min-text__text.min-text__color.blog__three-width.min-text__indent Детская психология
                h3.titl.titles-indent Как помочь ребенку преодолеть капризы и истерики
                p.txt.txt-indent Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы,
                                |к новому - знаниям о решении проблемы.
                a(href='#').txt.txt-indent.txt__blog Читать далее
        a.btn.btn__center(href="#") Смотреть все статьи