.blog {
    padding: 4rem 0;
}
.blog__min-text {
    margin-bottom: 1rem;
    align-self: baseline;
}
.blog__titles {
    margin-bottom: 4rem;
}
.picture__blog {
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.blog__titl {
    margin-bottom: 2rem;
}
.blog__txt {
    margin-bottom: 2rem;
}
.blog-slider {
    cursor: pointer;
    margin-bottom: 4rem;
}
.sectionNine .swiper-slide-active {
    align-self: stretch;
}
.block__content-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: stretch;
    align-self: stretch;
    height: 100%;
    min-width: 30rem;
    padding: 0 1.5rem;
}
.swiper-slide.swiper__blog {
    align-self: stretch;
}
.btn__center {
    margin: 0 auto;
}
.txt__blog {
    text-decoration: none;
    text-decoration-line: underline;
    font-feature-settings: "pnum" on, "lnum" on;
}

.sectionNine {
    width: 100%;
}
.blog-width {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .blog {
        padding: 7rem 0;
    }
    .block__content-flex {
        padding: 0;
    }
}
@media screen and (min-width: 1020px) {
    .blog {
        padding: 10rem 0;
    }
    .blog__titles {
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 1700px) {
    .blog-width {
        margin: 0 auto;
        width: 85%;
        overflow: hidden;
    }
}
